<%= stylesheet_link_tag 'cooperate_reservation' %>

<% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% @payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="d-flex justify-content-start">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Lễ tân</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="#">Khách lẻ</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a>Đặt phòng</a></li>
    </ol>
  </div>


<%= form_with url: "/cooperate_reservation/new", method: :post do |p| %>
  <div class="action">
    <div id="prev_button" class="btn btn-primary">
      Back
    </div>
    <div id="next_button" class="btn btn-primary" style="float: right">
      Next
    </div>
    <%= p.submit "Finish", class:"btn btn-primary", id:"finish_button"  ,style:"float: right"%>

  </div>

  <div class="bs-stepper">
  <div class="bs-stepper-content">
    <br>
    <%= p.fields_for :client_attributes, Client.new do |client| %>
      <div id="step1">
        <%= render :partial => "step1",  :locals=>{:client=>client} %>
      </div>
    <% end %>
      <div id="step2">
        <%= render :partial => "step2",  :locals=>{:p=>p} %>
      </div>
  </div>
  <div id="choosen_rooms">

  </div>
  <br>
  <br>
</div>
<% end %>

<script>
    let reservation_attributes_id = '#__reservations_attributes__'
    let radioCheckedValue = $("input[name='leader_info']:checked").val()
    radioCheckedValue = radioCheckedValue.slice(12,15)
    $('#_client_attributes_name').keyup(function(){
        let client_name = $('#_client_attributes_name').val()
        $(reservation_attributes_id + radioCheckedValue + '_client_name').val(client_name)
    })
    $('#_client_attributes_citizen_id').keyup(function(){
        let client_citizen_id = $('#_client_attributes_citizen_id').val()
        $(reservation_attributes_id + radioCheckedValue + '_client_citizen_id').val(client_citizen_id)
    })

    $("input[type='radio']").click(function(){
        var radioValue = $("input[name='leader_info']:checked").val();
        if(radioValue){
            //Sample radioValue: leader_info_103
            let client_name = $('#_client_attributes_name').val()
            let client_citizen_id = $('#_client_attributes_citizen_id').val()

            let radio_room_id = radioValue.slice(12,15)
            let string_id = reservation_attributes_id + radio_room_id
            $(string_id + '_client_name').val(client_name)
            $(string_id + '_client_citizen_id').val(client_citizen_id)
        }
    });
    var current_step;
    $(document).ready(function(){
        current_step = 1
        $("#step2").hide()
        $('#finish_button').hide()
    })
    $("#next_button").click(function(){
        if (current_step >= 2)
        {
            current_step = 0
        }
        else
        {
            $("#step" + current_step).hide()
            current_step++;
            $("#step" + current_step).show()
            if (current_step >= 2)
            {
                $('#finish_button').show()
                $("#next_button").hide()
            }
        }
    })
    $("#prev_button").click(function() {
        $("#step" + current_step).hide()
        current_step--;
        $("#step" + current_step).show()
        if (current_step <= 0)
        {
            let theURL = '/cooperate_reservation/choose_rooms'
            window.location.href = theURL
        }

    })
</script>