<%= stylesheet_link_tag 'cooperate_reservation' %>

<% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="d-flex justify-content-start">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Lễ tân</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="#">Khách lẻ</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a>Đặt phòng</a></li>
    </ol>
  </div>
<div class="action">
  <button id="prev_button" class="btn btn-primary">
    Back
  </button>
  <button id="next_button" class="btn btn-primary" style="float: right">
    Next
  </button>

</div>
<div class="bs-stepper">
  <div class="bs-stepper-content">
  <%= form_with url: "/cooperate_reservation/new", method: :post do |form| %>
    <div id="step1">
      <%= render :partial => "step1",  :locals=>{:form=>form} %>
    </div>
    <div id="step2">
      <%= render :partial => "step2",  :locals=>{:form=>form} %>
    </div>
    <div id="step3">
      <%= render :partial => "step3",  :locals=>{:form=>form} %>
    </div>
  </div>
  <br>
  <br>
  <%= form.submit "Finish", class:"btn btn-primary", id:"finish_button"  %>
</div>
<% end %>

<script>
    var current_step;
    $(document).ready(function(){
        current_step = 1
        $("#step2").hide()
        $("#step3").hide()
        $('#finish_button').hide()
    })
    function setRooms(rooms){
        // Using Session
        if (typeof(Storage) !== "undefined") {
            sessionStorage.setItem("rooms", rooms);
            console.log(sessionStorage.getItem('rooms'));
        }
    }
    function getRooms(rooms){
        if (typeof(Storage) !== "undefined") {
            return sessionStorage.getItem('rooms')
        }
        return null
    }
    $("#next_button").click(function(){
        if (current_step >= 3)
        {
            if ($("#step3").is(":visible"))
            {
                $('#finish_button').click()
                current_step = 0;
                return;
            }
        }
        $("#step" + current_step).hide()
        current_step++;
        $("#step" + current_step).show()
        console.log(current_step)

    })
    $("#prev_button").click(function() {
        if (current_step <= 1)
            return;
        $("#step" + current_step).hide()
        current_step--;
        $("#step" + current_step).show()
    })
</script>