<h4 class="p-3">Thông tin trưởng đoàn</h4>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Trưởng đoàn</p>
      <div class="col-lg-7 form-group">
        <%= client.text_field :name, class:"form-control", placeholder: "Nguyễn Văn A" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">CCCD</p>
      <div class="col-lg-7 form-group">
        <%= client.number_field   :citizen_id, class:"form-control", placeholder: "0123456789" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Sinh nhật</p>
      <div class="col-lg-7 form-group">
        <%= client.text_field :date_of_birth,
                              data: {
                                controller: "flatpickr",
                                flatpickr_date_format: "d-m-Y",
                                flatpickr_max_date: Time.zone.now
                              },
                              class: "form-select read-only-white",
                              placeholder: "Chọn sinh nhật"%>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">Giới tính</p>
      <div class="col-lg-7 form-group">
        <%= client.select :gender, options_for_select(@gender), {}, class: "form-select read-only-white" %>

        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">SDT</p>
      <div class="col-lg-7 form-group">
        <%= client.telephone_field   :phone_number, class:"form-control", placeholder: "0123456789" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">Email</p>
      <div class="col-lg-7 form-group">
        <%= client.email_field   :email, class:"form-control", placeholder: "ngan@gmail.com" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Quốc tịch</p>
      <div class="col-lg-7 form-group">
        <%= client.text_field :nationality, class:"form-control", placeholder: "Việt Nam" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <%= client.hidden_field(:client_type, :value => 2) %>
</div>
<br><br>
<h4 class="p-3">Những phòng đã chọn</h4>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Leader</th>
    <th scope="col">Phòng</th>
    <th scope="col">Ngày vào</th>
    <th scope="col">Ngày ra</th>
    <th scope="col">Người lớn</th>
    <th scope="col">Trẻ em</th>
    <th scope="col">Tên khách</th>
    <th scope="col">CMND</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% if @chosen_rooms %>
    <% @chosen_rooms.each do |r|%>
      <tr>
        <th>
          <div class="form-check">
            <% if r == @chosen_rooms[0] %>
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <% else %>
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <% end %>
          </div>
        </th>
        <td><%= r["id"] %></td>
        <td><%= @arrival_date %></td>
        <td><%= @leave_date %></td>
        <td>0</td>
        <td>0</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
    <% end %>
  <% end %>

  </tbody>
</table>


<script>
    $('#_payment_attributes_client_attributes_name').keyup(function(){
        $('#client_name').val($('#_payment_attributes_client_attributes_name').val());
    })
    $('#_payment_attributes_client_attributes_citizen_id').keyup(function(){
        $('#client_citizen_id').val($('#_payment_attributes_client_attributes_citizen_id').val());
    })
    <% if session[:reservation_params] %>
    <% params = session[:reservation_params] %>
    <% if session[:reservation_params]["client_attributes"] %>
    <% client = params["client_attributes"] %>
    $('#_client_attributes_name').val("<%= client["name"] || " "  %>")
    $('#_client_attributes_citizen_id').val("<%= client["citizen_id"] || " " %>")
    $('#_client_attributes_phone_number').val("<%= client["phone_number"] || " " %>")
    $('#_client_attributes_email').val("<%= client["email"] || " " %>")
    $('#_client_attributes_nationality').val("<%= client["nationality"] || " " %>")

    $('#client_name').val($('#_client_attributes_name').val())
    $('#client_citizen_id').val($('#_client_attributes_citizen_id').val())

    <% end %>

    <% end %>
</script>