<div class="row">
  <%#= form_with url: "/cooperate_reservation/new", class:"form-group row w-100" do |search| %>
    <div class="dropdown col-md">
      <%= form.collection_select nil, RoomType.all, :id, :name,{include_blank: false, selected: params[:room_type_id]}, {class: 'form-select', id:'choose_room_type'}%>
    </div>
    <div class="dropdown col-md">
      <%= form.text_field :arrival_date,
                          data: {
                            controller: "flatpickr",
                            flatpickr_date_format: "d-m-Y",
                            flatpickr_min_date: Time.zone.now
                          },
                          class: "form-select read-only-white",
                          placeholder: "Ngày đến"%>
    </div>

    <div class="dropdown col-md">
      <%= form.text_field :leave_date,
                          data: {
                            controller: "flatpickr",
                            flatpickr_date_format: "d-m-Y",
                            flatpickr_min_date: Time.zone.now
                          },
                          class: "form-select read-only-white",
                          placeholder: "Ngày đi"%>

    </div>

    <div class="btn btn-primary col-md-2" onclick="searchRooms()">Tìm kiếm</div>
  <%# end %>
</div>

<br>

<div>

</div>

<br>
<div class="row w-100">
  <div class="col-lg">
    <!--    Bảng kết quả tìm kiếm -->
    <% @room_types.each do |room_type| %>
      <div class="card" id="<%= room_type.name %>">
        <div class="card-header">
          Loại <%= room_type.name %>
          <span class="fa fa-sort-down toggle-list"></span>
        </div>
        <% @rooms = Room.where(room_type_id: room_type.id, status: 1) %>
        <%# @rooms = @rooms + @rooms_status_2 %>
         <div class="row card-body">
           <% @rooms.each do |room| %>
             <%# @@unreserved_rooms.each do |unreserved_room_id| %>
                <%# if room.id == unreserved_room_id %>
                  <%# break %>
                <%# end %>
             <%# end %>
             <div id="<%= room.name %>" class="room btn btn-light col-md-3 m-1">
               <%= room.name %>
             </div>
           <% end %>
         </div>

      </div>
    <% end %>



  </div>

  <!--    Kết quả lựa chọn -->
  <div class="col-lg  card h-100">
    <div class="card-body">
      <h4>Phòng đã chọn</h4>
      <h5>Deluxe - 700,000VND</h5>
      <div class="row">
        <div class="col-lg">
          7/7/21 - 9/7/21 <br>
          2 người lớn 1 trẻ em
        </div>
        <div class="col-lg">
          Hello
        </div>
      </div>

    </div>


  </div>
</div>

<script>
    function searchRooms(){
      var room_type_id = $('#choose_room_type').val();
      var arrival_date = $('#arrival_date').val();
      var leave_date = $('#leave_date').val();
      if (!arrival_date)
          arrival_date = "<%= (DateTime.now).strftime("%d/%m/%Y") %>"
      if (!leave_date)
          leave_date =  "<%= (DateTime.now).strftime("%d/%m/%Y") %>"

      var theURL = '/cooperate_reservation/new?room_type_id=' + room_type_id + '&arrival_date=' + arrival_date + '&leave_date=' + leave_date;
      window.location.href = theURL
  }
  $('.toggle-list').on('click' ,function(e) {
      e.preventDefault();
      var toggleButton = $(e.target);
      var card = $(this).closest('.card');
      var cardBody = card.find('.card-body');

      if (toggleButton.hasClass('fa-sort-down'))
      {
          toggleButton.removeClass('fa-sort-down')
          toggleButton.addClass('fa-sort-up row align-items-center')
          cardBody.hide("fast")

      }
      else if (toggleButton.hasClass('fa-sort-up'))
      {
          toggleButton.removeClass('fa-sort-up row align-items-center')
          toggleButton.addClass('fa-sort-down')
          cardBody.show("fast")
      }


  });
</script>