

<h4 class="p-3">Thanh toán</h4>
<div class="row">
  <div class="col-lg">
    <% if @chosen_rooms %>
      <% @chosen_rooms.each do |r| %>
        <div class="card border-0 ">
          <div class="card-body padding-bottom-20 ">

            <% room_type = Room.where(:name => r["id"]).pluck(:room_type_id).to_s %>
            <% room_type = room_type.tr('[]', '') %>
            <% room_type_name = RoomType.find(room_type).name %>
            <% room_price = @room_prices["#{room_type_name}"] %>
            <p><b><%= r["id"] %> - <%= room_type_name %> - <%= room_price %></b></p>
            <p><%= @arrival_date %>- <%= @leave_date %></p>
            <% room_id = Room.where(name: r["id"]).pluck(:id) %>
            <% room_id = room_id.to_s %>
            <% room_id = room_id.tr('[]', '') %>


            <%= p.fields_for "[reservations_attributes][]", Reservation.new, :index => r["id"] do |form| %>
              <div class="row">
                <div class="col row">
                  <div class="col-3">
                    <p class="text-center">NL</p>
                  </div>
                  <div class="col-7">
                    <%= form.number_field :adults, in: 0 .. 20 ,class:"form-control " %>
                  </div>
                </div>
                <div class="col row">
                  <div class="col-3">
                    <p class="text-center">TE</p>
                  </div>
                  <div class="col-7">
                    <%= form.number_field :children, in: 0 .. 20 ,class:"form-control " %>
                  </div>
                </div>
              </div>
              <%= form.hidden_field(:room_id, :value => room_id)  %>
              <%= form.hidden_field(:employee_id, :value => current_user.employee_id)  %>
              <%= form.hidden_field(:arrival_date, :value => @arrival_date)  %>
              <%= form.hidden_field(:leave_date, :value => @leave_date)  %>
              <%= form.hidden_field(:status, :value => 1) %>
              <%= form.hidden_field(:client_name, :value=> "N/A") %>
              <%= form.hidden_field(:client_citizen_id, :value=> "N/A") %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
  <div class="col-lg">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <p class="col-lg-3">Đặt cọc</p>
          <div class="col-lg form-group">
            <%= p.hidden_field(:reservation_date, :value => Date.today)  %>
            <%= p.hidden_field(:is_paid, :value => false)  %>
            <%= p.number_field :deposit, min: 0, class:"form-control"%>
          </div>
        </div>
        <div class="row">
          <p class="col-lg-3">HTTT</p>
          <div class="col-lg form-group">
            <%= p.select :payment_type, options_for_select(@payment_type_view), {}, class: "form-select read-only-white" %>
            <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
          </div>
        </div>
        <div class="row">
          <p class="col-lg-3">Tổng tiền</p>
          <div class="col-lg form-group">
            <%= p.number_field :temp_total, min: 0, class:"form-control"%>
          </div>
        </div>
        <div class="">
          <p>Ghi chú</p>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
    <% if session[:reservation_params] %>
    <% params = session[:reservation_params] %>
    <% if params["payment_attributes"] %>
    <% payment = params["payment_attributes"] %>
    $('#_payment_attributes_deposit').val("<%= payment["deposit"] || 0 %>")
    $('#_payment_attributes_payment_type').val("<%= payment["payment_type"] || 1 %>")
    $('#_payment_attributes_temp_total').val("<%=payment["temp_total"] || 0 %>")
    <% end %>

    <% end %>
</script>