<%= javascript_pack_tag 'choose_rooms' %>

<div data-turbolinks="false" id="choose_rooms">
  <%= form_with url: "/cooperate_reservation/new", method: :get do |form| %>

    <div class="row" >
      <div class="dropdown col-md">
        <%= form.collection_select nil, RoomType.all, :id, :name,{include_blank: false, selected: params[:room_type_id]}, {class: 'form-select', id:'choose_room_type'}%>
      </div>
      <div class="dropdown col-md">
        <%= form.text_field :arrival_date,
                            data: {
                              controller: "flatpickr",
                              flatpickr_date_format: "d/m/Y",
                              flatpickr_min_date: Time.zone.now
                            },
                            class: "form-select read-only-white",
                            placeholder: "Ngày đến"%>
      </div>
      <div class="dropdown col-md">
        <%= form.text_field :leave_date,
                            data: {
                              controller: "flatpickr",
                              flatpickr_date_format: "d/m/Y",
                              flatpickr_min_date: Time.zone.now
                            },
                            class: "form-select read-only-white",
                            placeholder: "Ngày đi"%>

      </div>
  <% end %>

  <div class="btn btn-primary col-md-2" onclick="searchRooms()">Tìm kiếm</div>
  </div>
  <br>
  <%#= render :partial => 'quick_choose_rooms', :locals=>{:form=>form} %>
  <br>
  <div id="pay-button" class="btn btn-primary", style="float:right" >
    Thanh toán
  </div>

  <br> <br>
  <br>
  <div class="row w-100">
    <div class="col-lg">
      <!--    Bảng kết quả tìm kiếm -->

      <% @room_types.each do |room_type| %>
        <div class="card" id="<%= room_type.id %>">
          <div id="rooms_header"class="card-header">
            Loại <%= room_type.name %>
            <span class="fa fa-sort-down toggle-list"></span>
          </div>
          <% @rooms = Room.where(room_type_id: room_type.id, status: 1) %>
          <% @rooms = @rooms.to_a %>
          <% @rooms_status_2.each do |r_status| %>
            <% if (r_status).room_type_id == room_type.id  && !@rooms.include?(r_status)%>
              <% @rooms.push(r_status) %>
            <% end %>
          <% end %>
          <div class="row card-body">
            <% @rooms.each do |room| %>
              <div id="<%= room.name %>" class="room btn btn-light col-md-3 m-1">
                <%= room.name %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!--    Kết quả lựa chọn -->
    <div class="col-lg  card h-100">
      <div id="result_header" class="card-header">
        <h4>Phòng đã chọn</h4>
        <div> Từ ngày <%= params[:arrival_date] || (DateTime.now).strftime("%d/%m/%Y") %> - Đến ngày <%= params[:leave_date] || (DateTime.now).strftime("%d/%m/%Y") %> </div>
      </div>
      <% @room_types.each do |room_results| %>
        <div class="card-body">
          <div class="">
            <div class="" style="float:right">
              <span class="fa fa-close"></span>
            </div>
            <div class="">
              <h5><%= room_results.name %></h5>
            </div>
          </div>
          <p>SL: <span id="amount_<%=room_results.id%>">0</span> - <%= @room_prices["#{room_results.name}"] %></p>
          <div id="result_<%= room_results.id  %>" class="row results_chip">
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>




<script  type="text/javascript">

    // [{room_type: {id: 1, count: x, rooms: []  }}]

    $(document).ready(function(){
        if ('<%=  session[:chosen_rooms] %>')
        {
            <% session.delete(:chosen_rooms) %>
            location.reload();
        }
        $('#arrival_date').val('<%= params[:arrival_date] || (DateTime.now).strftime("%d/%m/%Y") %>')
        $('#leave_date').val('<%= params[:leave_date] || (DateTime.now).strftime("%d/%m/%Y") %>')
    })

    function setRooms(rooms){
        // Using Session
        if (typeof(Storage) !== "undefined") {
            sessionStorage.setItem("rooms", rooms);
            // console.log(sessionStorage.getItem('rooms'));
        }
    }
    function getRooms(){
        if (typeof(Storage) !== "undefined") {
            return sessionStorage.getItem('rooms')
        }
        return null
    }
    function searchRooms(){
        let room_type_id = $('#choose_room_type').val();
        let arrival_date = $('#arrival_date').val();
        let leave_date = $('#leave_date').val();
        if (!arrival_date)
            arrival_date = "<%= (DateTime.now).strftime("%d/%m/%Y") %>"
        if (!leave_date)
            leave_date =  "<%= (DateTime.now).strftime("%d/%m/%Y") %>"

        let theURL = '/cooperate_reservation/choose_rooms?room_type_id=' + room_type_id + '&arrival_date=' + arrival_date + '&leave_date=' + leave_date;
        window.location.href = theURL
    }

    $('.toggle-list').on('click' ,function(e) {
        let toggleButton = $(e.target);
        let card = $(this).closest('.card');
        let cardBody = card.find('.card-body');

        if (toggleButton.hasClass('fa-sort-down'))
        {
            toggleButton.removeClass('fa-sort-down')
            toggleButton.addClass('fa-sort-up row align-items-center')
            cardBody.hide("fast")

        }
        else if (toggleButton.hasClass('fa-sort-up'))
        {
            toggleButton.removeClass('fa-sort-up row align-items-center')
            toggleButton.addClass('fa-sort-down')
            cardBody.show("fast")
        }


    });


</script>