<p id="notice"><%= notice %></p>

<h1><b>Dịch vụ</b></h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Tên</th>
      <th>Đơn vị tính</th>
      <th>Mô tả</th>
      <th>Trạng thái</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.unit_price %></td>
        <td><%= service.description %></td>
        <td><%= service.status %></td>
        <td><%= link_to 'Chi tiết', service %></td>
        <td><%= link_to 'Chỉnh sửa', edit_service_path(service) %></td>
        <td><%= link_to 'Xoá dịch vụ', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
