<h1> Step 1</h1>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Tên khách</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field :client_name, class:"form-control", placeholder: "Nguyễn Văn A" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">CCCD</p>
      <div class="col-lg-7 form-group">
        <%= form.number_field   :client_citizen_id, class:"form-control", placeholder: "0123456789" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Loại phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.label @room_type_name, class:"form-control", readonly:true %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row">
      <p class="col-lg-3">Phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.label @room_name, class:"form-control", readonly:true %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row row end-row-md">
      <p class="col-lg-3">Ngày đến</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field :arrival_date,
                            data: {
                              controller: "flatpickr",
                              flatpickr_date_format: "d-m-Y",
                              flatpickr_min_date: Time.zone.now
                            },
                            class: "form-control read-only-white",
                            placeholder: "Chọn ngày đến"%>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">Giá phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.label @room_price, class:"form-control", readonly:true %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Ngày đi</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field :leave_date,
                            data: {
                              controller: "flatpickr",
                              flatpickr_date_format: "d-m-Y",
                              flatpickr_min_date: Time.zone.now
                            },
                            class: "form-control read-only-white",
                            placeholder: "Chọn ngày đi"%>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row">
      <p class="col-lg-3">Đặt cọc</p>
      <div class="col-lg-7 form-group">
        <%= form.fields_for :payment_attributes, Payment.new do |p| %>
          <%= p.hidden_field(:reservation_date, :value => Date.today)  %>
          <%= p.hidden_field(:is_paid, :value => false)  %>
          <%= p.number_field :deposit, min: 0, class:"form-control"%>
          </div>
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-lg-6 row">
              <div class="row end-row-md">
                <p class="col-lg-3">Hình thức TT</p>
                <div class="col-lg-7 form-group">
                  <%= p.select :payment_type, options_for_select(@payment_type_view), {}, class: "form-control read-only-white" %>
                  <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->

                </div>
              </div>
            </div>
            <div class="col-lg-6 row">
              <div class="row">
                <p class="col-lg-3">Người lớn</p>
                <div class="col-lg-7 row" style="padding-right: 0; margin-right: 0">
                  <div class="col-lg-4  form-group"  style="padding-right: 0; margin-right: 0">
                    <%= form.number_field :adults, in: 0 .. 20, class:"form-control" %>
                  </div>
                  <p class="col-lg-4 padding-left">Trẻ em</p>
                  <div class="col-lg-4 form-group"  style="padding-right: 0; margin-right: 0">
                    <%= form.number_field :children, in: 0 .. 20 ,class:"form-control " %>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 row">
              <div class="row end-row-md">
                <p class="col-lg-3">Loại đặt phòng</p>
                <div class="col-lg-7 form-group">
                  <%= form.select @reservation_type_chosen, options_for_select(@reservation_type_view), {}, class: "form-control read-only-white" %>
                </div>
              </div>
            </div>
            <div class="col-lg-6 row">
              <div class="row">
                <p class="col-lg-3">Tổng tiền</p>
                <div class="col-lg-7 form-group">
                  <%= form.number_field :total, min: 0, class:"form-control", id: "total"%>
                  <%= p.hidden_field(:temp_total, :id=> "temp-total")  %>
                </div>
              </div>
            </div>
          </div>
          <%= form.hidden_field(:client_id, :value => 1) %>
          <%= form.hidden_field(:employee_id, :value => current_user.employee_id) %>
          <%= form.hidden_field(:room_id, :value => params[:room_id]) %>
<% end %>
