<%= form_with(model: room_price) do |form| %>
  <% if room_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_price.errors.count, "error") %> prohibited this room_price from being saved:</h2>

      <ul>
        <% room_price.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div> 
  <% end %>

<center>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Loại phòng </p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.text_field :room_type_id, class:"form-control" %>
        </div>
    </div>
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Loại giá </p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.select :price_type,[0, 1, 2, 3], {}, class: "form-select read-only-white" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
  <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Ngày áp dụng</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.text_field :date, class:"form-control" %>
      </div>
    </div>
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Giá</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.text_field :price, class:"form-control" %>
        </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Trạng thái</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.radio_button :is_available, 'true' %> Đang sử dụng<br />
          <%= form.radio_button :is_available, 'false' %> Ngưng sử dụng<br />
        </div>
    </div>
    <div class="col-xl-5 row">
  </div>
  </div>
  <div class="tBotton">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
</center>
<% end %>