

<div class="roomPrice_main_view">

  <div class="left_container">
      <div class="section_name" >
      Danh sách chi tiết giá của các loại phòng
      </div>
      <table>
          <tr>
              <th class="roomPrice_row_title_roomType">LOẠI PHÒNG</th>
              <th class="roomPrice_row_title_infoBasic">LOẠI GIÁ</th>
              <th class="roomPrice_row_title_price">GIÁ</th>
              <th class="roomPrice_row_title_date">NGÀY ÁP DỤNG</th>
              <th class="roomPrice_row_title_is_available">TRẠNG THÁI</th>
          </tr>

          <% @room_prices.each do |room_price| %>
              <tr class="roomPrice_row">
                  <td class="roomPrice_row_roomType">
                    <span class="roomPrice_roomTypeId hide" ><%= room_price.room_type_id %></span>
                    <% index =  room_price.room_type_id - 1 %>
                    <span><%= @room_type[index][:text] %></span>
                  </td>
                  <td class="roomPrice_row_infoBasic">
                      <div class="info_basic_container">
                          <span class="roomPrice_row_price_type">
                            <span class="roomPrice_roomPriceId hide"><%= room_price.price_type %></span>
                            <% index =  room_price.price_type - 1 %>
                            <span><%= @price_types[index][:text] %></span>
                            <!-- <% if room_price.price_type == 1 %>
                                <span>Giá theo giờ</span>
                            <% elsif room_price.price_type == 2 %>
                                <span>Giá theo ngày</span>
                            <% elsif room_price.price_type == 3 %>
                              <span>Giá theo tuần</span>
                            <% elsif room_price.price_type == 4 %>
                              <span>Giá theo tháng</span>
                            <% elsif room_price.price_type == 5 %>
                              <span>Giá theo năm</span>
                            <% elsif room_price.price_type == 6 %>
                              <span>Giá thêm người lớn</span>
                            <% elsif room_price.price_type == 7 %>
                              <span>Giá thêm trẻ em</span>
                            <% end %> -->
                          </span>
                          <span class="roomPrice_row_id hide"><%= room_price.id %></span>
                      </div>
                  </td>
                  <td id="roomPrice_priceId" class="roomPrice_row_price"><%= room_price.price %></td>
                  <td class="roomPrice_row_date"><%= Date.parse(room_price.date.to_s) %></td>
                  <td class="roomPrice_row_is_available">
                    <span id="roomPrice_availableId" class="hide"><%= room_price.is_available %></span>
                    <% if room_price.is_available == true %>
                        <span class="badge rounded-pill bg-primary roomPrice_status_doing">Đang áp dụng</span>
                    <% elsif room_price.is_available == false %>
                        <span class="badge rounded-pill bg-danger roomPrice_status_off">Ngưng áp dụng</span>
                    <% end %>
                  </td>
                  <td class=" hide">
                    <%= link_to room_price, method: :delete, data: { confirm: 'Bạn thật sự muốn xóa?' }, class: 'btn_delete' do %>
                      <span class="fa fa-trash"></span>
                    <% end %>
                  </td>
              </tr>
          <% end %>
          
      </table>
      <div id="roomPrice_row_empty" class="hide_empty">
          <i class="fas fa-exclamation-triangle"></i>
          <span>No row matched !</span>
      </div>
  </div>


  <div class="right_container">
    <% employee = Employee.find(current_user.employee_id) %>
      <div class="section_name">Hành động</div>
      <div class="functionalities ">
        <% if employee.employee_type == 1 %>
          <%= link_to new_room_price_path do%><div class="functionality_add btn btn-primary">Thêm</div><% end %>
        <% end %>
      </div>
      <div class="functionalities">
          <div id="roomPrice_btn_show" class="functionality_item ">Xem</div>
          <% if employee.employee_type == 1 %>
            <div id="roomPrice_btn_delete" class="functionality_item ">Xóa</div>
            <div id="roomPrice_btn_edit" class="functionality_item ">Sửa</div>
          <% end %>
      </div>

      <div class="section_name">Tìm kiếm</div>
      <div class="timkiem_container">
          <input id="roomPrice_input_filter"/>
      </div>

      <div class="section_name">Bộ lọc tìm kiếm</div>

      <div class="boloc_container">
          <div id="boloc_roomPrice_roomType"><strong> > Loại phòng</strong>
          </div>
          <div id="boloc_roomPrice_price_type"><strong> > Loại giá</strong>
          </div>
          <div id="boloc_roomPrice_available"><strong> > Trạng thái</strong>
          </div>
          <div id="boloc_roomPrice_price"><strong> > Giá</strong>
          <div class="timkiem_price">
            <input id="room_input_filter_priceFroom" placeholder="Tối thiểu"/>
            _
            <input id="room_input_filter_priceTo" placeholder="Tối đa"/>
            <div id="btn_ApDungChoised" class="btn_ApDung">Áp dụng</div>
          </div>
        </div>
      </div>
  </div>
</div>


<% if employee.employee_type == 1 %>
	<%= javascript_pack_tag 'price_room_manager_actions' %>
	<% end %>

	<% if employee.employee_type == 2 %>
		<%= javascript_pack_tag 'price_room' %>
	<% end %>
