<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<center>
<div class="_form_container">
<div class="_form_centent tColumn">
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :employee_type, "Loại nhân viên" %>
    </div>
    <div class="">
      <%= form.select :employee_type, ['Quản Lý', 'Nhân viên Lễ Tân', 'Nhân viên Vệ Sinh', 'Bảo vệ'] %>
    </div>
  </div>

  <!-- <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :username, "Tên đăng nhập" %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :username %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :password, "Mật khẩu" %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :password %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :Confirm_Password, "Nhập lại mật khẩu"%>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :password %>
    </div>
  </div> -->

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :name, "Họ tên" %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :name %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :Gender, "Giới tính" %>
    </div>
    <div class="">
      <%= form.select :gender, ['Male', 'Female', 'Other'] %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :phone_number, "Số điện thoại" %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :phone_number %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :address, "Địa chỉ" %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :address %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :email %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :email %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :date_of_birth, "Ngày sinh" %>
    </div>
    <div class="_form_item_input">
      <%= form.date_select :date_of_birth, order: [:day, :month, :year] %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :citizen_id, "Thành phố" %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :citizen_id %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :nationality, "Quốc tịch" %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :nationality %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :status, "Trạng thái" %>
    </div>
    <div class="">
      <input class="employee_status_checkbox" type="checkbox" id="switch" name="isWorking" value="1" checked />
      <label class="label-status" for="switch">Toggle</label>
    </div>
  </div>

  <div class="actions button_submit">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
</div>
</div>
</center>
<% end %>
