<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<center>
<div class="_form_container tColumn">
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :employee_type %>
    </div>
    <div class="">
      <%= form.select :employee_type, ['Nhân viên Lễ Tân', 'Nhân viên Vệ Sinh', 'Quản Lý'] %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :username %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :username %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :password %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :password %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :Confirm_Password%>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :password %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :name %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :name %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :Gender %>
    </div>
    <div class="">
      <%= form.select :is_female, ['Male', 'Female', 'Other'] %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :phone_number %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :phone_number %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :address %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :address %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :email %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :email %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :date_of_birth %>
    </div>
    <div class="">
      <%= form.date_select :date_of_birth, order: [:day, :month, :year] %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :citizen_id %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :citizen_id %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :nationality %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :nationality %>
    </div>
  </div>
  
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :status %>
    </div>
    <div class="">
      <%= form.select :status, options_for_select([ ['Đang làm việc', '0'],['Nghỉ', '1']])%>
    </div>
  </div>

  <div class="actions button_submit">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
</div>
</center>
<% end %>
