<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<center>
<div class="_form_container tColumn">
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :name %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :name %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :employee_type %>
    </div>
    <div class="_form_item_input">
      <%= form.number_field :employee_type %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :citizen_id %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :citizen_id %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :is_female %>
    </div>
    <div class="">
      <%= form.check_box :is_female %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :nationality %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :nationality %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :date_of_birth %>
    </div>
    <div class="">
      <%= form.datetime_select :date_of_birth %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :email %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :email %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :status %>
    </div>
    <div class="_form_item_input">
      <%= form.number_field :status %>
    </div>
  </div>

  <div class="actions button_submit">
    <%= form.submit %>
  </div>
</div>
</center>
<% end %>
