<% if notice %>
  <div class="notification notice_success">
    <%= notice %>
  </div>
<% end %>

<!--<center><h1 class="title">NHÂN VIÊN</h1></center>-->
<div class="d-flex justify-content-start">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Cấu hình", employees_path %></li>
    <li class="breadcrumb-item" aria-current="page"><a>Nhân viên</a></li>
  </ol>
</div>
<div class="roomtype_sum_container tRow">
  <div class="tColumn" >
      Danh sách nhân viên: <%= @employees.ids.count %> nhân viên
  </div>
<!--  <div class="searchBar tColumn">-->
<!--    <div class="tRow">-->
<!--      <select id="typeSearch tColumn">-->
<!--        <option value="name" selected>Tên</option>-->
<!--        <option value="emp_type">Loại nhân viên</option>-->
<!--        <option value="phone">Số điện thoại</option>-->
<!--        <option value="address">Địa chỉ</option>-->
<!--        <option value="gender">Giới tính</option>-->
<!--        <option value="nationality">Quốc tịch</option>-->
<!--        <option value="city">Thành phố</option>-->
<!--        <option value="DOB">Ngày sinh</option>-->
<!--        <option value="email">Email</option>-->
<!--      </select>-->
<!--      <div class="tform-group">-->
<!--        <input  aria-label="Search" type="text" class="tform-control tColumn" placeholder="Tìm kiếm...">-->
<!--        <span class="fa fa-search tform-control-feedback"></span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="tColumn newIcon e_tooltip">
      <%= link_to new_employee_path do%><i class="fas fa-plus-circle"></i><% end %>
        <span class="tooltiptext">Tạo mới</span>
  </div>
</div>


<center>

  <div class="roomtype_list_container tColumn">
    <% @employees.each do |employee| %>
      <div class="item tRow">
          <div class="section tRow">
              <div class="e_tooltip">
                  <%= link_to employee, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-minus-circle"></i><% end %>
                  <span class="tooltiptext">Xóa</span>
              </div>
              <div class="tColumn employee_name">
                  <div>
                      <%= employee.name %>
                  </div>
                  <div class="employee_type">
                      <%= @types[employee.employee_type - 1][:text] %>
                  </div>
              </div>
          </div>
          <div class="section tRow">
            <div class="icon_costom e_tooltip">
              <%= link_to  employee do %> <i class="fa fa-eye"></i><% end %>
              <span class="tooltiptext">Xem chi tiết</span>
            </div>
            <div class="icon_costom e_tooltip">
                <%= link_to edit_employee_path(employee) do%><i class="fas fa-pencil-alt"></i><% end %>
                  <span class="tooltiptext">Sửa</span>
            </div>
          </div>
      </div>
      <% end %>
  </div>

</center>

