<% if notice %>
  <div class="notification notice_success">
    <%= notice %>
  </div>
<% end %>

<center><h1 class="title">Employees</h1></center>

<div class="roomtype_sum_container tRow">
  <div>
      Danh sach nhan vien ( Tong so nhan vien )
  </div>
  <div>
      <%= link_to new_employee_path do%><i class="fas fa-plus-circle"></i><% end %>
  </div>
</div>

<center>
  <div class="roomtype_list_container tColumn">
    <% @employees.each do |employee| %>
      <div class="item tRow">
          <div class="section tRow">
              <div class="">
                  <%= link_to employee, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-minus-circle"></i><% end %>
              </div>
              <div class="tColumn employee_name">
                  <div>
                      <%= employee.name %>
                  </div>
                  <div class="employee_type">
                      <%= employee.employee_type %>
                  </div>
              </div>
          </div>
          <div class="section tRow">
              <div class="">
                  <%= link_to edit_employee_path(employee) do%><i class="fas fa-pencil-alt"></i><% end %>
              </div>
          </div>
      </div>
      <% end %>
  </div>
  </center>

<!-- <table class="table is-hoverable" >
  <thead>
  <tr>
    <th><abbr title="id">ID</abbr></th>
    <th><abbr title="name">Name</abbr></th>
    <th><abbr title="employee_type">Type</abbr></th>
    <th><abbr title="citizen_id">Citizen ID</abbr></th>
    <th><abbr title="is_female">Is Female</abbr></th>
    <th><abbr title="nationality">Nationality</abbr></th>
    <th><abbr title="dob">DOB</abbr></th>
    <th><abbr title="email">Email</abbr></th>
    <th><abbr title="status">Status</abbr></th>
    <th><abbr title="show">Show</abbr></th>
    <th><abbr title="edit">Edit</abbr></th>
    <th><abbr title="destroy">Destroy</abbr></th>
  </tr>
  </thead>

  <tbody>

  <% @employees.each do |employee| %>
    <tr>
      <th><%= employee.id %></th>
      <td><%= employee.name %></td>
      <td><%= employee.employee_type %></td>
      <td><%= employee.citizen_id %></td>
      <td><%= employee.is_female %></td>
      <td><%= employee.nationality %></td>
      <td><%= employee.date_of_birth.strftime("%m/%d/%Y")  %></td>
      <td><%= employee.email %></td>
      <td><%= employee.status %></td>
      <td><%= link_to  employee do %> <i class="fa fa-eye" style="font-size:1.25rem"></i><% end %></td>
      <td><%= link_to  edit_employee_path(employee) do %> <i class="fa fa-edit" style="font-size:1.25rem"></i><% end %></td>
      <td><%= link_to employee, method: :delete, data: { confirm: 'Are you sure?' } do %> <i class="fa fa-trash-o" style="font-size:1.25rem"></i><% end %></td>
    </tr>
  <% end %>

  </tbody>
</table> -->

<br>

<!-- <%= link_to 'New Employee', new_employee_path %> -->
