
<div class="employee_top_breadcrumb">
    <nav class="page-section" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <div class="row">
        <div class="col-sm-6">
            <div class="d-flex justify-content-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Cấu hình</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nhân viên</li>
            </ol>
            </div>
        </div>
        </div>
    </nav>

</div>

<div class="employee_main_view">

    <div class="left_container">
        <div class="section_name" >
            Danh sách: <%= @employees.ids.count %> nhân viên
        </div>
        <table>
            <tr>
                <th class="employee_row_title_infoBasic">HỌ TÊN NHÂN VIÊN</th>
                <th class="employee_row_title_type">LOẠI</th>
                <th class="employee_row_title_gender">GIỚI TÍNH</th>
                <th class="employee_row_title_phone">SĐT</th>
                <th class="employee_row_title_address">ĐỊA CHỈ</th>
                <th class="employee_row_title_status">TRẠNG THÁI</th>
            </tr>


            <% @employees.each do |employee| %>
                <tr class="employee_row">
                    <td class="employee_row_infoBasic">
                        <div class="info_basic_container">
                            <span class="employee_row_name"><%= employee.name %></span>
                            <span class="employee_row_id hide"><%= employee.id %></span>
                        </div>
                    </td>
                    <td class="employee_row_type">
                        <span id="employee_typeId" class="hide"><%= employee.employee_type %></span>
                        <% index =  employee.employee_type - 1 %>
                            <span><%= @employeee_type[index][:text] %></span>
                    </td>
                    <td class="employee_row_gender">
                        <span id="employee_genderId" class="hide"><%= employee.gender %></span>
                        <% index =  employee.gender - 1%>
                            <span><%= @employee_gender[index][:text] %></span>
                    </td>

                    <td class="employee_row_phone"> <%= employee.phone_number %> </td>
                    <td class="employee_row_address"> <%= employee.address %> </td>
                    <td class="employee_row_status">
                        <span id="employee_statusId" class="hide"><%= employee.status %></span>
                        <% if employee.status == 1 %>
                            <span class="badge rounded-pill bg-primary employee_status_doing">Đang làm</span>
                        <% elsif employee.status == 2 %>
                            <span class="badge rounded-pill bg-danger employee_status_off">Nghỉ việc</span>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
        <div id="employee_row_empty" class="hide_empty">
            <i class="fas fa-exclamation-triangle"></i>
            <span>No row matched !</span>
        </div>
    </div>


    <div class="right_container">
        <div class="section_name">Hành động</div>
        <div class="functionalities ">
        <%= link_to new_employee_path do%><div class="functionality_add btn btn-primary">Thêm</div><% end %>
        </div>
        <div class="functionalities">
            <div id="employee_btn_show" class="functionality_item">Xem</div>
            <div id="employee_btn_delete" class="functionality_item ">Xóa</div>
            <div id="employee_btn_edit" class="functionality_item ">Sửa</div>
        </div>

        <div class="section_name">Tìm kiếm</div>
        <div class="timkiem_container">
            <input id="employee_input_filter"/>
        </div>

        <div class="section_name">Bộ lọc tìm kiếm</div>

        <div class="boloc_container">
            <div id="boloc_employee_gender"><strong> > Giới tính</strong>
            </div>
            <div id="boloc_employee_type"><strong> > Loại nhân viên</strong>
            </div>
            <div id="boloc_employee_status"><strong> > Trạng thái</strong>
            </div>
        </div>

    </div>
</div>

<%= javascript_pack_tag 'employee' %>