
<div class="employee_top_breadcrumb">
    <nav class="page-section" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <div class="row">
        <div class="col-sm-6">
            <div class="d-flex justify-content-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Cấu hình</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nhân viên</li>
            </ol>
            </div>
        </div>
        </div>
    </nav>

</div>

<div class="employee_main_view">

    <div class="left_container">
        <div class="section_name" >
            Danh sách: <%= @employees.ids.count %> nhân viên
        </div>
        <table>
            <tr>
                <th>Mã số</th>
                <th>Họ Tên</th>
                <th>Loại Nhân Viên</th>
            </tr>

            <% @employees.each do |employee| %>
                <tr class="employee_row">
                    <td id="employee_row_id"> <%= employee.id %> </td>
                    <td id="employee_row_name"> <%= employee.name %> </td>
                    <td> <%= employee.employee_type %> </td>
                </tr>
            <% end %>
        </table>
    </div>


    <div class="right_container">
        <div class="section_name">Hành động</div>
        <div class="functionalities ">
        <%= link_to new_employee_path do%><div class="functionality_add btn btn-primary">Thêm</div><% end %>
        </div>
        <div class="functionalities">
            <div id="employee_btn_show" class="functionality_item">Xem</div>
            <div id="employee_btn_delete" class="functionality_item ">Xóa</div>
            <div id="employee_btn_edit" class="functionality_item ">Sửa</div>
        </div>

        <div class="section_name">Tìm kiếm</div>
        <div class="timkiem_container">
            <input />
        </div>

        <div class="section_name">Bộ lọc</div>

        <div class="boloc_container">
            <div class="boloc_item">
                <input type="checkbox" value="nam" />
                <span class="boloc_label">Nam</span>
            </div>
            <div class="boloc_item">
              <input type="checkbox" value="nu" />
              <span class="boloc_label">Nữ</span>
            </div>
        </div>

    </div>
</div>

<script>
    let selectedID;

    // Map all HTML Row to Array JS
    let allEmployees = document.querySelectorAll(".employee_row");
    let allButtonNotClick = document.querySelectorAll(".functionality_item");
    
    // Add onclick listener to each row
    for(let i=0; i<allEmployees.length; i++){
        allEmployees[i].addEventListener('click', function(){
            // Remove all color of previous selected row
            for (let previousSelectedRow of document.querySelectorAll(".row_selected")) {
                previousSelectedRow.classList.remove("row_selected");
            }
            
            selectedID = allEmployees[i].querySelector("#employee_row_id").innerHTML * 1;
            this.classList.add("row_selected");
            for(let i=0; i<allButtonNotClick.length; i++){
                allButtonNotClick[i].classList.remove("functionality_item");
                allButtonNotClick[i].classList.add("button_selected");
            }
        });
    }

    document.querySelector("#employee_btn_edit").addEventListener('click', function(){
        if (selectedID > 0) {
            window.location = `${window.location}/${selectedID}/edit`;
        }
        
    });
    document.querySelector("#employee_btn_show").addEventListener('click', function(){
        if (selectedID > 0) {
            window.location = `${window.location}/${selectedID}`;
        }
    });




</script>