<div class="employee_top_breadcrumb">
    <nav class="page-section" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <div class="row">
        <div class="col-sm-6">
            <div class="d-flex justify-content-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Cấu hình</a></li>
                <li class="breadcrumb-item"><a href="#">Nhân viên</a></li>
                <li class="breadcrumb-item active" aria-current="page">Xem</li>
            </ol>
            </div>
        </div>
        </div>
    </nav>
</div>
<p id="notice"><%= notice %></p>
  <!-- <div class="row justify-content-center">
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Tên nhân viên </p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= @employee.name %>
        </div>
    </div>
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Loại nhân viên </p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= @employee.employee_type %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
  <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">CCCD</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= @employee.citizen_id %>
      </div>
    </div>
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Số điện thoại</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= @employee.phone_number %>
        </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Địa chỉ</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= @employee.address %>
        </div>
    </div>
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Quốc tịch</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= @employee.nationality %>
      </div>
  </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Giới tính</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= @employee.gender %>
      </div>
    </div>
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Ngày sinh</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= Date.parse(@employee.date_of_birth.to_s) %>
        </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Email</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= @employee.email %>
      </div>
    </div>
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Trạng thái</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= @employee.status %>
      </div>
    </div>
  </div>
  <center>
  <div class="tBotton">
    <%= link_to edit_employee_path(@employee) do%><div class="functionality_add btn btn-primary">Chỉnh sửa</div><% end %>
  </div>
</center>
  <%= link_to employees_path do%><div class="functionality_add btn btn-primary">Quay lại</div><% end %> -->
<center>
  <div class="show_container">
  <div class="show_content tColumn">
  <p class="tRow">
    <span class="show_employee_name">Họ tên</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @employee.name %></strong>
  </p>

  <p class="tRow">
    <span class="show_employee_name">Loại</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value">
      <% index =  @employee.employee_type - 1 %>
          <span><%= @employeee_type[index][:text] %></span>
      </strong>
  </p>

  <p class="tRow">
    <span class="show_employee_name">Giới tính</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value">
      <% index =  @employee.gender - 1%>
        <span><%= @employee_gender[index][:text] %></span>
    </strong>
  </p>

  <p class="tRow">
    <span class="show_employee_name">Số điện thoại</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @employee.phone_number %></strong>
  </p>

  <p class="tRow">
    <span class="show_employee_name">Địa chỉ</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @employee.address %></strong>
  </p>

  <p class="tRow">
    <span  class="show_employee_name">Email</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @employee.email %></strong>
  </p>

  <p class="tRow">
    <span class="show_employee_name">Ngày sinh</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= Date.parse(@employee.date_of_birth.to_s) %></strong>
  </p>

  <p class="tRow">
    <span class="show_employee_name">CCCD</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @employee.citizen_id %></strong>
  </p>

  <p class="tRow">
    <span class="show_employee_name">Quốc tịch</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @employee.nationality %></strong>
  </p>

  <p class="tRow">
    <span class="show_employee_name">Status</span>
    <span class="show_sign">:</span>
    <span class="show_employee_value">
      <% if @employee.status == 0 %>
        <span class="badge rounded-pill bg-primary employee_status_doing">Đang làm</span>
      <% elsif @employee.status == 1 %>
          <span class="badge rounded-pill bg-danger employee_status_off">Nghỉ việc</span>
      <% end %>
    </span>
  </p>
  </div>

  <div class="tBotton">
    <%= link_to edit_employee_path(@employee) do%><div class="functionality_add btn btn-primary">Chỉnh sửa</div><% end %>
  </div>
</div>
</center>
<%= link_to employees_path do%><div class="functionality_add btn btn-primary">Quay lại</div><% end %>



