<center>
<p id="notice"><%= notice %></p>

<div class="show_container tColumn">
<p class="tRow">
  <strong class="show_employee_name">Name</strong>
  <strong class="show_sign">:</strong>
  <%= @employee.name %>
</p>

<p class="tRow">
  <strong class="show_employee_name">Type</strong>
  <strong class="show_sign">:</strong>
  <%= @employee.employee_type %>
</p>

<p class="tRow">
  <strong class="show_employee_name">Citizen</strong>
  <strong class="show_sign">:</strong>
  <%= @employee.citizen_id %>
</p>

<p class="tRow">
  <strong class="show_employee_name">Gender</strong>
  <strong class="show_sign">:</strong>
  <%= @employee.is_female %>
</p>

<p class="tRow">
  <strong class="show_employee_name">Nationality</strong>
  <strong class="show_sign">:</strong>
  <%= @employee.nationality %>
</p>

<p class="tRow">
  <strong class="show_employee_name">Date of birth</strong>
  <strong class="show_sign">:</strong>
  <%= Date.parse(@employee.date_of_birth.to_s) %>
</p>

<p class="tRow">
  <strong  class="show_employee_name">Email</strong>
  <strong class="show_sign">:</strong>
  <%= @employee.email %>
</p>

<p class="tRow">
  <strong class="show_employee_name">Status</strong>
  <strong class="show_sign">:</strong>
</p>
</div>

<button class="button_back"><%= link_to 'Back', employees_path %></button>
<button class="button_edit"><%= link_to 'Edit', edit_employee_path(@employee) %></button>


</center>
