
<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<center>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Tên khách hàng</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.text_field :name, class:"form-control" %>
        </div>
    </div>
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Loại khách hàng</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.select :client_type, options_for_select(@client_type_view), {}, class: "form-select read-only-white" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">CCCD</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.text_field :citizen_id, class:"form-control" %>
      </div>
    </div>
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Số điện thoại</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.text_field :phone_number, class:"form-control" %>
        </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Quốc tịch</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.text_field :nationality, class:"form-control" %>
      </div>
    </div>
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Email</p> 
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.email_field :email, class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Giới tính</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.select :gender, options_for_select(@client_gender_view), {}, class: "form-select read-only-white" %>
        
        </div>
    </div>
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Ngày sinh</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.text_field :date_of_birth,
                            data: {
                              controller: "flatpickr",
                              flatpickr_date_format: "d-m-Y",
                              flatpickr_max_date: Time.zone.now
                            },
                            class: "form-select read-only-white",
                            placeholder: "Chọn sinh nhật"%>
        </div>
    </div>
  </div>
  <div class="tBotton">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
</center>
<% end %>

