
	
	<div class="client_main_view">
	
			<div class="left_container">
				<div class="section_name" >
					Danh sách: <%= @clients.ids.count %> khách hàng
				</div>
				<table>
						<tr>
							<th class="client_row_title_infoBasic">HỌ TÊN KHÁCH HÀNG</th>
							<th class="client_row_title_type">LOẠI</th>
							<th class="client_row_title_gender">GIỚI TÍNH</th>
							<th class="client_row_title_phone">SỐ ĐIỆN THOẠI</th>
							<th class="client_row_title_email">EMAIL</th>
							<th class="client_row_title_dob">NGÀY SINH</th> 
						</tr>
	
						<% @clients.each do |client| %>
							<tr class="client_row">
								<td class="client_row_infoBasic">
									<div class="info_basic_container">
										<span class="client_row_name"><%= client.name %></span>
										<span class="client_row_id hide"><%= client.id %></span>
									</div>
								</td>
								<td class="client_row_type">
								<span id="client_typeId" class="hide"><%= client.client_type %></span>
									<% index =  client.client_type - 1 %>
									<span><%= @client_type[index][:text] %></span>
								</td>
								<td class="client_row_gender">
								<span id="client_genderId" class="hide"><%= client.gender %></span>
									<% index =  client.gender - 1 %>
									<span><%= @client_gender[index][:text] %></span>
								</td>
								<td class="client_row_phone"> <%= client.phone_number %></td>
								<td class="client_row_email"> <%= client.email %></td>
								<td id='client_dob' class="client_row_dob">
									<% if client.date_of_birth %>
									<%= Date.parse(client.date_of_birth.to_s) %>
									<% else %>
									<% end %>
								 </td>
								<!-- <td><%= link_to 'Destroy', client_path(client), method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
								<!-- <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
								<td class="hide">
									<%= link_to client, method: :delete, data: { confirm: 'Bạn thật sự muốn xóa ?' }, class: 'btn_delete' do %>
									<span class="fa fa-trash"></span>
									<% end %>
								</td>
							</tr>
						<% end %>
				</table>
				<div id="client_row_empty" class="hide_empty">
					<i class="fas fa-exclamation-triangle"></i>
					<span>Không có dữ liệu phù hợp</span>
				</div>
			</div> 
	
				<% employee = Employee.find(current_user.employee_id) %>
				<div class="right_container">
					<div class="section_name">Hành động</div>

					<div class="functionalities ">
						<% if employee.employee_type == 1 %>
							<%= link_to new_client_path do%><div class="functionality_add btn btn-primary">Thêm</div><% end %>
						<% end %>
					</div>

					<div class="functionalities">
							<div id="client_btn_show" class="functionality_item">Xem</div>
							<% if employee.employee_type == 1 %>
								<div id="client_btn_delete" class=" functionality_item ">Xóa</div>
								<div id="client_btn_edit" class="functionality_item ">Sửa</div>
							<% end %>
							
					</div>
						
					<div class="section_name">Tìm kiếm</div>
					<div class="timkiem_container">
						<input id="client_input_filter"/>
					</div>
	
					<div class="section_name">Bộ lọc tìm kiếm</div>
	 
					<div class="boloc_container">
						<div id="boloc_client_gender"><strong> > Giới tính</strong>
						</div>
						<div id="boloc_client_type"><strong> > Loại</strong>
						</div>
						<div ><strong> > Tháng sinh nhật</strong>
							<div class="boloc_item">
								<select id="boloc_client_dob" ></select>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
	</div>

	
	<% if employee.employee_type == 1 %>
	<%= javascript_pack_tag 'client_manager_actions' %>
	<% end %>

	<% if employee.employee_type == 2 %>
		<%= javascript_pack_tag 'client' %>
	<% end %>
