	<div class="employee_top_breadcrumb">
		<nav class="page-section" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<div class="row">
				<div class="col-sm-6">
					<div class="d-flex justify-content-start">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Cấu hình</a></li>
							<li class="breadcrumb-item active" aria-current="page">Khách hàng</li>
						</ol>
					</div>
				</div>
			</div>
		</nav>
	
	</div>
	
	<div class="client_main_view">
	
			<div class="left_container">
				<div class="section_name" >
					Danh sách: <%= @clients.ids.count %> khách hàng
				</div>
				<table>
						<tr>
							<th>Mã số</th>
							<th>Họ tên</th>
							<th>Loại khách hàng</th>
							<th>Số điện thoại</th>
						</tr>
	
						<% @clients.each do |client| %>
								<tr class="client_row">
									<td id="client_row_id"> <%= client.id %> </td>
									<td> <%= client.name %> </td>
									<td> <%= client.client_type %></td>
									<td> <%= client.phone_number %></td>
								</tr>
						<% end %>
				</table>
			</div>
	
	
			<div class="right_container">
					<div class="section_name">Hành động</div>
					<div class="functionalities ">
					<%= link_to new_client_path do%><div class="functionality_add btn btn-primary">Thêm</div><% end %>
					</div>
					<div class="functionalities">
							<div id="client_btn_show" class="functionality_item">Xem</div>
							<div id="client_btn_delete" class=" functionality_item ">Xóa</div>
							<div id="client_btn_edit" class="functionality_item ">Sửa</div>
					</div>
	
					<div class="section_name">Tìm kiếm</div>
					<div class="timkiem_container">
							<input />
					</div>
	
					<div class="section_name">Bộ lọc</div>
	
					<div class="boloc_container">
							<div class="boloc_item">
									<input type="checkbox" value="male" />
									<span class="boloc_label">Nam</span>
							</div>
							<div class="boloc_item">
								<input type="checkbox" value="female" />
								<span class="boloc_label">Nữ</span>
							</div>
					</div>
	
			</div>
	</div>
	
	<script>
	let selectedID;

	let allClients = document.querySelectorAll(".client_row");
	let allButtonNotClick = document.querySelectorAll(".functionality_item");
	
	for(let i=0; i<allClients.length; i++){
		allClients[i].addEventListener('click', function(){
					for (let previousSelectedRow of document.querySelectorAll(".row_selected")) {
							previousSelectedRow.classList.remove("row_selected");
					}
					
					selectedID = allClients[i].querySelector("#client_row_id").innerHTML * 1;
					this.classList.add("row_selected");
					for(let i=0; i<allButtonNotClick.length; i++){
							allButtonNotClick[i].classList.remove("functionality_item");
							allButtonNotClick[i].classList.add("button_selected");
					}
			});
	}

	document.querySelector("#client_btn_edit").addEventListener('click', function(){
			if (selectedID > 0) {
					window.location = `${window.location}/${selectedID}/edit`;
			}
			
	});
	document.querySelector("#client_btn_show").addEventListener('click', function(){
			if (selectedID > 0) {
					window.location = `${window.location}/${selectedID}`;
			}
	});
	</script>