<center>
<div class="employee_top_breadcrumb">
    <nav class="page-section" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <div class="row">
        <div class="col-sm-6">
            <div class="d-flex justify-content-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Cấu hình</a></li>
                <li class="breadcrumb-item"><a href="#">Khách hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page">Xem</li>
            </ol>
            </div>
        </div>
        </div> 
    </nav>
</div>
  <div class="show_container">
  <div class="show_content tColumn">
  <p class="tRow">
    <span class="show_employee_name">Họ tên</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @client.name %></strong>
  </p>
  
  <p class="tRow">
    <span class="show_employee_name">Loại</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value">
      <% index =  @client.client_type - 1 %>
          <span><%= @client_type[index][:text] %></span>
    </strong>
  </p>
  
  <p class="tRow">
    <span class="show_employee_name">Giới tính</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value">
        <% index =  @client.gender - 1 %>
        <span><%= @client_gender[index][:text] %></span>
    </strong>
  </p>
  
  <p class="tRow">
    <span class="show_employee_name">Số điện thoại</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @client.phone_number %></strong>
  </p>
  
  <p class="tRow">
    <span  class="show_employee_name">Email</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @client.email %></strong>
  </p>
  
  <p class="tRow">
    <span class="show_employee_name">Ngày sinh</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= Date.parse(@client.date_of_birth.to_s) %></strong>
  </p>
  
  <p class="tRow">
    <span class="show_employee_name">CCCD</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @client.citizen_id %></strong>
  </p>
  
  <p class="tRow">
    <span class="show_employee_name">Quốc tịch</span>
    <span class="show_sign">:</span>
    <strong class="show_employee_value"><%= @client.nationality %></strong>
  </p>
  </div>
  <div class="tBotton">
    <%= link_to edit_client_path(@client) do%><div class="functionality_add btn btn-primary">Chỉnh sửa</div><% end %>
  </div>
  </div>
</center>
<%= link_to clients_path do%><div class="functionality_add btn btn-primary">Quay lại</div><% end %>
