<%= form_with(model: room_type) do |form| %>
  <% if room_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_type.errors.count, "error") %> prohibited this room_type from being saved:</h2>

      <ul>
        <% room_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<center>
<div class="_form_container tColumn">
  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label :name %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field  :name %>
      <div class="error_msg">This name is not valid !</div>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label 'Ma loai phong' %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :add_adult_price %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label 'So nguoi lon mac dinh' %>
    </div>
    <div class="_form_item_input">
      <%= form.number_field :add_adult_price , min: 0 %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label 'So tre em mac dinh' %>
    </div>
    <div class="_form_item_input">
      <%= form.number_field :add_adult_price , min: 0 %>
    </div>
  </div>

  <div class="field tRow">
    <div class="_form_item_name">
      <%= form.label 'Gia' %>
    </div>
    <div class="_form_item_input">
      <%= form.text_field :add_adult_price %>
    </div>
  </div>

  <div class="field tRow">
    <%= form.label :add_adult_price %>
    <%= form.text_field :add_adult_price %>
  </div>

  <div class="field tRow">
    <%= form.label :add_child_price %>
    <%= form.text_field :add_child_price %>
  </div>

  <div class="field">
    <%= form.label :hour_price %>
    <%= form.text_field :hour_price %>
  </div>

  <div class="field">
    <%= form.label :date_price %>
    <%= form.text_field :date_price %>
  </div>

  <div class="field">
    <%= form.label :past_night_price %>
    <%= form.text_field :past_night_price %>
  </div>

  <div class="field">
    <%= form.label :week_price %>
    <%= form.text_field :week_price %>
  </div>

  <div class="field">
    <%= form.label :month_price %>
    <%= form.text_field :month_price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions button_submit">
    <%= form.submit %>
  </div>
</div>
</center>
<% end %>
