<%= form_with(model: room_type) do |form| %>
  <% if room_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_type.errors.count, "error") %> prohibited this room_type from being saved:</h2>

      <ul>
        <% room_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<center>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Tên loại phòng</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.text_field :name, class:"form-control" %>
        </div>
    </div>
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Sức chứa</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.text_field :available_rooms, class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Số giường</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.text_field :beds, class:"form-control" %>
        </div>
    </div>
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Mô tả</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.text_field :description, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="tBotton">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
</center>
<% end %>
