

<div class="roomtypes_main_view">

    <div class="left_container">
        <div class="section_name" >
        Danh sách: <%= @room_types.ids.count %> loại phòng
        </div>
        <table>
            <tr>
                <th class="roomType_row_title_infoBasic">LOẠI PHÒNG</th>
                <th class="roomType_row_title_beds">SỐ GIƯỜNG</th>
                <th class="roomType_row_title_available">SỐ NGƯỜI LỚN</th>
                <th class="roomType_row_title_description">MÔ TẢ</th>
            </tr>

            <% @room_types.each do |room_type| %>
                <tr class="roomType_row">
                    <td class="roomType_row_infoBasic">
                        <div class="info_basic_container">
                            <span class="roomType_row_name"><%= room_type.name %></span>
                            <span class="roomType_row_id hide"><%= room_type.id %></span>
                        </div>
                    </td>
                    <td class="roomType_row_beds"><%= room_type.beds %></td>
                    <td class="roomType_row_available"><%= room_type.available_rooms %></td>
                    <td class="roomType_row_description"><%= room_type.description %></td>
                </tr>
            <% end %>
            
        </table>
        <div id="roomType_row_empty" class="hide_empty">
            <i class="fas fa-exclamation-triangle"></i>
            <span>No row matched !</span>
        </div>
    </div>


    <div class="right_container">
        <div class="section_name">Hành động</div>
        <div class="functionalities ">
        <%= link_to new_room_type_path do%><div class="functionality_add btn btn-primary">Thêm</div><% end %>
        </div>
        <div class="functionalities">
            <div id="roomType_btn_show" class="functionality_item ">Xem</div>
            <div id="roomType_btn_delete" class="functionality_item ">Xóa</div>
            <div id="roomType_btn_edit" class="functionality_item ">Sửa</div>
        </div>

        <div class="section_name">Tìm kiếm</div>
        <div class="timkiem_container">
            <input id="roomType_input_filter"/>
        </div>

        <div class="section_name">Bộ lọc tìm kiếm</div>

        <div class="boloc_container">
            <div id="boloc_roomType_beds"><strong> > Số giường</strong>
            </div>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'room_type' %>
