<% if notice %>
  <div class="notification notice_success">
    <%= notice %>
  </div>
<% end %>
<div class="d-flex justify-content-start">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Cấu hình", room_types_path %></li>
    <li class="breadcrumb-item" aria-current="page"><a>Loại phòng</a></li>
  </ol>
</div>
<!--<center><h1 class="title">Room Types</h1></center>-->
<div class="roomtype_sum_container tRow">
    <div>
        Danh sách loại phòng (<%= @room_types.ids.count %>)
    </div>
    <div>
        <%= link_to new_room_type_path do%><i class="fas fa-plus-circle"></i><% end %>
    </div>
</div>
<center>
<div class="roomtype_list_container tColumn">
    <% @room_types.each do |room_type| %>
    <div class="item tRow">
        <div class="section tRow">
            <div class="">
                <%= link_to room_type, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fas fa-minus-circle"></i><% end %>
            </div>
            <div class="tColumn">
                <div>
                    <%= room_type.name %>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="section tRow">
            <div class="icon_costom">
              <%= link_to  room_type do %> <i class="fa fa-eye"></i><% end %>
            </div>
            <div class="icon_costom">
                <%= link_to edit_room_type_path(room_type) do%><i class="fas fa-pencil-alt"></i><% end %>
            </div>
            <div class="icon_costom">
                <i class="fas fa-dollar-sign"></i></div>
        </div>
    </div>
    <% end %>
</div>
</center>
<br>

