<div class="employee_top_breadcrumb">
    <nav class="page-section" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <div class="row">
        <div class="col-sm-6">
          <div class="d-flex justify-content-start">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Cấu hình</a></li>
              <li class="breadcrumb-item active" aria-current="page">Loại phòng</li>
            </ol>
          </div>
        </div>
      </div>
    </nav>
  </div>

<div class="roomtypes_main_view">

    <div class="left_container">
        <div class="section_name" >
        Danh sách: <%= @room_types.ids.count %> loại phòng
        </div>
        <table>
            <tr>
                <th>Mã số</th>
                <th>Loại Phòng</th>
                <th>Số giường</th>
                <th>Số người lớn cho phép</th>
            </tr>

            <% @room_types.each do |room_type| %>
                <tr class="roomType_row">
                    <td id="roomType_row_id"> <%= room_type.id %> </td>
                    <td id="roomType_row_id"> <%= room_type.name %> </td>
                    <td> 
                        <%= room_type.beds %>
                    </td>
                    <td>
                        <%= room_type.available_rooms %>
                    </td>
                </tr>
            <% end %>
            
        </table>
    </div>


    <div class="right_container">
        <div class="section_name">Hành động</div>
        <div class="functionalities ">
        <%= link_to new_room_type_path do%><div class="functionality_add btn btn-primary">Thêm</div><% end %>
        </div>
        <div class="functionalities">
            <div id="roomType_btn_show" class="functionality_item ">Xem</div>
            <div id="roomType_btn_delete" class="functionality_item ">Xóa</div>
            <div id="roomType_btn_edit" class="functionality_item ">Sửa</div>
        </div>

        <div class="section_name">Tìm kiếm</div>
        <div class="timkiem_container">
            <input />
        </div>
    </div>
</div>

<script>
    let selectedID;

    let allRoomTypes = document.querySelectorAll(".roomType_row");
    let allButtonNotClick = document.querySelectorAll(".functionality_item");
    
    for(let i=0; i<allRoomTypes.length; i++){
        allRoomTypes[i].addEventListener('click', function(){
            for (let previousSelectedRow of document.querySelectorAll(".row_selected")) {
                previousSelectedRow.classList.remove("row_selected");
            }
            
            selectedID = allRoomTypes[i].querySelector("#roomType_row_id").innerHTML * 1;
            this.classList.add("row_selected");
            for(let i=0; i<allButtonNotClick.length; i++){
                allButtonNotClick[i].classList.remove("functionality_item");
                allButtonNotClick[i].classList.add("button_selected");
            }
        });
    }

    document.querySelector("#roomType_btn_edit").addEventListener('click', function(){
        if (selectedID > 0) {
            window.location = `${window.location}/${selectedID}/edit`;
        }
        
    });
    document.querySelector("#roomType_btn_show").addEventListener('click', function(){
        if (selectedID > 0) {
            window.location = `${window.location}/${selectedID}`;
        }
    });
</script>