<h5>Phòng đã đăng ký</h5>
<% @room_id = @reservation.room_id %>
<% @room = Room.find(@room_id) %>
<% @room_name = @room.name %>
<% @room_type_id = @room.room_type_id %>
<% @arrival_date = (@reservation.arrival_date).strftime("%d/%m/%Y")  %>
<% @leave_date = (@reservation.leave_date).strftime("%d/%m/%Y")  %>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Loại phòng</p>
      <div class="col-lg-7 form-group">
        <% @room_type_name = RoomType.find(@room_type_id).name %>
        <%= form.label @room_type_name, class:"form-control", readonly:true, id:"room_type" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row">
      <p class="col-lg-3">Phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.label @room_name, class:"form-control", readonly:true, id:"room_name" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row row end-row-md">
      <p class="col-lg-3">Ngày đến</p>
      <div class="col-lg-7 form-group">
        <%= form.label @arrival_date, class:"form-control", readonly:true, id:"arrival_date" %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row">
      <p class="col-lg-3">Thêm</p>
      <div class="col-lg-7 row" style="padding-right: 0; margin-right: 0">
        <p class="col-lg-2">NL</p>
        <div class="col-lg-4  form-group"  style="padding-right: 0; margin-right: 0">
          <%= form.number_field :adults, in: 0 .. 20, class:"form-control" %>
        </div>
        <p class="col-lg-2 ">TE</p>
        <div class="col-lg-4 form-group"  style="padding-right: 0; margin-right: 0">
          <%= form.number_field :children, in: 0 .. 20 ,class:"form-control " %>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Ngày đi</p>
      <div class="col-lg-7 form-group">
        <%= form.label @leave_date, class:"form-control", readonly:true, id:"leave_date" %>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
        updateValuesBySession()
        switchRoomID()
        switchPriceType()
        updateTotal()
    })

    function updateValuesBySession(){
        <% if session[:reservation_params] %>
        <% params = session[:reservation_params] %>
        <!--        $('#arrival_date').val("<%= params["arrival_date"] || (DateTime.now).strftime("%d/%m/%Y") %>")-->
        <!--        $('#leave_date').val("<%= params["leave_date"] || (DateTime.now).strftime("%d/%m/%Y") %>")-->
        $('#reservation_adults').val("<%= params["adults"] || 0 %>")
        $('#reservation_children').val("<%= params["children"] || 0 %>")
        <% end %>
    }

    function switchRoomID()
    {
        $("#room_id").change(function (){
            var theVal = $('#room_id').val();
            var theURL = '/reservations/new/' + theVal;
            window.location.href = theURL
        });
    }

    function switchPriceType()
    {
        var price_type_id = window.location.search
        const urlParams = new URLSearchParams(price_type_id);
        var price_type_id = urlParams.get('price_type_id')
        price_type_id = price_type_id ? price_type_id : 2;
        price_type_id -= 1;
        var string = 'select#price_type>option:eq(' + price_type_id + ')'
        $(string).attr('selected', true);
    }
    function calculateDifferenceBetween2Dates(date1, date2){
        // https://stackoverflow.com/questions/3224834/get-difference-between-2-dates-in-javascript
        date1 = convertStringToDate(date1);
        date2 = convertStringToDate(date2);
        if (date1 >= date2)
            return 0;

        let diffTime = Math.abs(date1 - date2);
        let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
        return diffDays //days
    }

    function convertStringToDate(date)
    {
        //DD/MM/YYYY format
        // https://stackoverflow.com/questions/33299687/how-to-convert-dd-mm-yyyy-string-into-javascript-date-object
        date = date.split("-");
        return  new Date(+date[2], date[1] - 1, +date[0]);
    }

    function passAdultsValue(){
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        var price_type_id
        if (urlParams.get('price_type_id'))
            price_type_id = urlParams.get('price_type_id')
        else
            price_type_id = 2
        const adults = $('#reservation_adults').val()
        const children = $('#reservation_children').val()
        const total = $('#reservation_payment_attributes_temp_total').val()
        console.log(queryString);
        const reservation_id = <%= @reservation.id %>
        var theURL = '/reservations/' + reservation_id + '/edit?total=' + total +'&adults='+adults+'&children='+children;
        window.location.href = theURL
    }

    $('#reservation_adults').mouseup(function(e)
    {
        var container = $("#reservation_adults");
        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0)
        {
            passAdultsValue()
        }
    });
    $('#reservation_adults').change(function(){
    })
    $('#reservation_adults').focusout(function(){

        passAdultsValue()
    })
    $('#reservation_children').mouseup(function(e)
    {
        var container = $("#reservation_adults");

        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0)
        {
            passAdultsValue()
        }
    });
    $('#reservation_children').focusout(function(){
        passAdultsValue()
    })
    function updateTotal()
    {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        if (urlParams.get('adults'))
            $('#reservation_adults').val(urlParams.get('adults'))
        else
            $('#reservation_adults').val(0)
        if (urlParams.get('children'))
            $('#reservation_children').val(urlParams.get('children'))
        else
            $('#reservation_children').val(0)
        let total = $('#reservation_payment_attributes_temp_total').val();
        total = parseInt(total)
        var children = $('#reservation_children').val();
        var children_price = <%= @children_price %>;
        children= parseInt(children) *children_price;

        var adults = $('#reservation_adults').val();
        var adults_price = <%=@adults_price %>;
        adults = parseInt(adults) * adults_price;

        total = total + children + adults
        $('#reservation_payment_attributes_temp_total').val(total);
        $('#reservation_payment_attributes_deposit').val(total/2)
    }
    $('#arrival_date').change(function(){
        updateTotal()
    })
    $('#leave_date').change(function(){
        updateTotal()
    })


</script>