<h5>Bước 1: Đăng ký phòng</h5>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Loại phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.label @room_type_name, class:"form-control", readonly:true, id:"room_type" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row">
      <p class="col-lg-3">Phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.collection_select :room_id, Room.where("status < ?", 3).to_a, :id, :name,{include_blank: false, selected: params[:room_id]}, {class: 'form-select'}%>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Loại giá</p>
      <div class="col-lg-7 form-group">
        <select id="price_type" onchange="window.location.href=this.value" class="form-select read-only-white">
          <% @reservation_type.each do |c| %>
            <option value=/reservations/new/<%=     params[:room_id] || 1  %>?price_type_id=<%= @reservation_type.index(c) + 1 %>>
              <%= c[:text] %>
            </option>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">Giá phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.label @room_price_name, class:"form-control", readonly:true, id:"room_price" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row row end-row-md">
      <p class="col-lg-3">Ngày đến</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field :arrival_date,
                            data: {
                              controller: "flatpickr",
                              flatpickr_date_format: "d-m-Y",
                              flatpickr_min_date: Time.zone.now
                            },
                            class: "form-select read-only-white",
                            placeholder: "Chọn ngày đến"%>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row">
      <p class="col-lg-3">Thêm</p>
      <div class="col-lg-7 row" style="padding-right: 0; margin-right: 0">
        <p class="col-lg-2">NL</p>
        <div class="col-lg-4  form-group"  style="padding-right: 0; margin-right: 0">
          <%= form.number_field :adults, in: 0 .. 20, class:"form-control" %>
        </div>
        <p class="col-lg-2 ">TE</p>
        <div class="col-lg-4 form-group"  style="padding-right: 0; margin-right: 0">
          <%= form.number_field :children, in: 0 .. 20 ,class:"form-control " %>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Ngày đi</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field :leave_date,
                            data: {
                              controller: "flatpickr",
                              flatpickr_date_format: "d-m-Y",
                              flatpickr_min_date: Time.zone.now
                            },
                            class: "form-select read-only-white",
                            placeholder: "Chọn ngày đi"%>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>
<%= form.hidden_field(:employee_id, :value => current_user.employee_id) %>
<script>
    $(document).ready(function(){
        updateValuesBySession()
        switchRoomID()
        switchPriceType()
        updateTotal()
    })

    function updateValuesBySession(){
        <% if session[:reservation_params] %>
        <% params = session[:reservation_params] %>
<!--        $('#arrival_date').val("<%= params["arrival_date"] || (DateTime.now).strftime("%d/%m/%Y") %>")-->
<!--        $('#leave_date').val("<%= params["leave_date"] || (DateTime.now).strftime("%d/%m/%Y") %>")-->
        $('#adults').val("<%= params["adults"] || 0 %>")
        $('#children').val("<%= params["children"] || 0 %>")
        <% end %>
    }

    function switchRoomID()
    {
        $("#room_id").change(function (){
            var theVal = $('#room_id').val();
            var theURL = '/reservations/new/' + theVal;
            window.location.href = theURL
        });
    }

    function switchPriceType()
    {
        var price_type_id = window.location.search
        const urlParams = new URLSearchParams(price_type_id);
        var price_type_id = urlParams.get('price_type_id')
        price_type_id = price_type_id ? price_type_id : 2;
        price_type_id -= 1;
        var string = 'select#price_type>option:eq(' + price_type_id + ')'
        $(string).attr('selected', true);
    }
    function calculateDifferenceBetween2Dates(date1, date2){
        // https://stackoverflow.com/questions/3224834/get-difference-between-2-dates-in-javascript
        date1 = convertStringToDate(date1);
        date2 = convertStringToDate(date2);
        if (date1 >= date2)
            return 0;

        let diffTime = Math.abs(date1 - date2);
        let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
        return diffDays //days
    }

    function convertStringToDate(date)
    {
        //DD/MM/YYYY format
        // https://stackoverflow.com/questions/33299687/how-to-convert-dd-mm-yyyy-string-into-javascript-date-object
        date = date.split("-");
        return  new Date(+date[2], date[1] - 1, +date[0]);
    }

    function passAdultsValue(){
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        var price_type_id
        if (urlParams.get('price_type_id'))
            price_type_id = urlParams.get('price_type_id')
        else
            price_type_id = 2
        const adults = $('#adults').val()
        const children = $('#children').val()
        const arrival_date = $('#arrival_date').val()
        const leave_date = $('#leave_date').val()
        console.log(queryString);

        var theURL = '/reservations/new?room_id=<%= @room_id %>&price_type_id=' + price_type_id +'&adults='+adults+'&children='+children+'&arrival_date='+arrival_date+'&leave_date='+leave_date;
        window.location.href = theURL
    }

    $('#adults').mouseup(function(e)
    {
        var container = $("#adults");
        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0)
        {
            passAdultsValue()
        }
    });
    $('#adults').focusout(function(){
        passAdultsValue()
    })
    $('#children').mouseup(function(e)
    {
        var container = $("#adults");

        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0)
        {
            passAdultsValue()
        }
    });
    $('#children').focusout(function(){
        passAdultsValue()
    })
    function updateTotal()
    {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        if (urlParams.get('adults'))
            $('#adults').val(urlParams.get('adults'))
        else
            $('#adults').val(0)
        if (urlParams.get('children'))
            $('#children').val(urlParams.get('children'))
        else
            $('#children').val(0)
        if (urlParams.get('price_type_id'))
        {
            var price_type_id = urlParams.get('price_type_id') - 1
            var string = 'select#price_type>option:eq(' + price_type_id + ')'
            $(string).attr('selected', true);
        }
        else
            $('select#price_type>option:eq(1)').attr('selected', true);
        if (urlParams.get('arrival_date'))
        {
            $('#arrival_date').val(urlParams.get('arrival_date'))
        }
        if (urlParams.get('leave_date'))
        {
            $('#leave_date').val(urlParams.get('leave_date'))
        }
        var room_price = (<%= @room_price_value %>);
        var children = $('#children').val();
        var children_price = <%=@children_price %>;

        children= parseInt(children) *children_price;

        var adults = $('#adults').val();
        var adults_price = <%=@adults_price %>;
        adults = parseInt(adults) * adults_price;

        let total = room_price + children + adults
        let arrivalDate = $('#arrival_date').val()
        let leaveDate = $('#leave_date').val()

        if (arrivalDate && leaveDate)
        {
            let differenceBetween2Dates = calculateDifferenceBetween2Dates(arrivalDate, leaveDate)
            if (differenceBetween2Dates > 0)
                total *= differenceBetween2Dates
            else
                alert("Ngày đi không được phép trước ngày đến")
        }
        $('#_payment_attributes_temp_total').val(total);
        $('#_payment_attributes_deposit').val(total/2)
    }
    $('#arrival_date').change(function(){
        updateTotal()
    })
    $('#leave_date').change(function(){
        updateTotal()
    })


</script>