<%#= form.fields_for :payment_attributes, Payment.new do |p| %>
<h5>Bước 2: Đăng ký thông tin khách hàng</h5>
<%#= form.fields_for :client_attributes, Client.new do |client| %>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Tên khách</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field "reservation[payment_attributes][client_attributes][name]", class:"form-control", placeholder: "Nguyễn Văn A",id:"_payment_attributes_client_attributes_name" %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">CCCD</p>
      <div class="col-lg-7 form-group">
        <%= form.number_field   "reservation[payment_attributes][client_attributes][citizen_id]", class:"form-control", placeholder: "0123456789", id:"_payment_attributes_client_attributes_citizen_id" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Sinh nhật</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field "reservation[payment_attributes][client_attributes][date_of_birth]",
                            data: {
                              controller: "flatpickr",
                              flatpickr_date_format: "d-m-Y",
                              flatpickr_max_date: Time.zone.now
                            },
                            class: "form-select read-only-white",
                            placeholder: "Chọn sinh nhật"%>
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">Giới tính</p>
      <div class="col-lg-7 form-group">
        <%= form.select "reservation[payment_attributes][client_attributes][gender]", options_for_select(@gender), {}, class: "form-select read-only-white" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Số điện thoại</p>
      <div class="col-lg-7 form-group">
        <%= form.telephone_field   "reservation[payment_attributes][client_attributes][phone_number]", class:"form-control", placeholder: "0123456789" %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">Email</p>
      <div class="col-lg-7 form-group">
        <%= form.email_field   "reservation[payment_attributes][client_attributes][email]", class:"form-control", placeholder: "ngan@gmail.com" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Quốc tịch</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field "reservation[payment_attributes][client_attributes][nationality]", class:"form-control", placeholder: "Việt Nam" %>
      </div>
    </div>
  </div>
  <%= form.hidden_field("reservation[payment_attributes][client_attributes][client_type]", :value => 2) %>
  <%= form.hidden_field("reservation[client_name]", :id=> "client_name") %>
  <%= form.hidden_field("reservation[client_citizen_id]", :id=> "client_citizen_id") %>
</div>
  <%# end %>

  <h5>Bước 3: Thanh toán</h5>

  <div class="row">
    <div class="col-lg-6 row">
      <div class="row end-row-md">
        <p class="col-lg-3">Đặt cọc</p>
        <div class="col-lg-7 form-group">
          <%= form.hidden_field("reservation[payment_attributes][reservation_date]", :value => Date.today)  %>
          <%= form.hidden_field("reservation[payment_attributes][is_paid]", :value => false)  %>
          <%= form.number_field "reservation[payment_attributes][deposit]", min: 0, class:"form-control", id:"_payment_attributes_deposit"%>
        </div>
      </div>
    </div>
    <div class="col-lg-6 row">
      <div class="row">
        <p class="col-lg-3">Hình thức TT</p>
        <div class="col-lg-7 form-group">
          <%= form.select "reservation[payment_attributes][payment_type]", options_for_select(@payment_type_view), {}, class: "form-select read-only-white" %>
          <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 row">
      <div class="row end-row-md">
        <p class="col-lg-3">Tổng tiền</p>
        <div class="col-lg-7 form-group">
          <%= form.number_field "reservation[payment_attributes][temp_total]", min: 0, class:"form-control", id:"_payment_attributes_temp_total"%>
        </div>
      </div>
    </div>
  </div>


<%# end %>
<script>
    $('#_payment_attributes_client_attributes_name').change(function(){
        $('#client_name').val($('#_payment_attributes_client_attributes_name').val());
    })
    $('#_payment_attributes_client_attributes_citizen_id').change(function(){
        $('#client_citizen_id').val($('#_payment_attributes_client_attributes_citizen_id').val());
    })
    <% if session[:reservation_params] %>
      <% params = session[:reservation_params] %>
      <% if session[:reservation_params]["client_attributes"] %>
        <% client = params["client_attributes"] %>
        $('#_client_attributes_date_of_birth').val("<%= client["date_of_birth"] || (DateTime.now).strftime("%d/%m/%Y")  %>")
        $('#_client_attributes_name').val("<%= client["name"] || " "  %>")
        $('#_client_attributes_citizen_id').val("<%= client["citizen_id"] || " " %>")
        $('#_client_attributes_phone_number').val("<%= client["phone_number"] || " " %>")
        $('#_client_attributes_email').val("<%= client["email"] || " " %>")
        $('#_client_attributes_nationality').val("<%= client["nationality"] || " " %>")

        $('#client_name').val($('#_payment_attributes_client_attributes_name').val())
        $('#client_citizen_id').val($('#_payment_attributes_client_attributes_citizen_id').val())

      <% end %>

    <% end %>
</script>


<script>
    <% if session[:reservation_params] %>
    <% params = session[:reservation_params] %>
    <% if params["payment_attributes"] %>
    <% payment = params["payment_attributes"] %>
    $('#_payment_attributes_deposit').val("<%= payment["deposit"] || 0 %>")
    $('#_payment_attributes_payment_type').val("<%= payment["payment_type"] || 1 %>")
    $('#_payment_attributes_temp_total').val("<%=payment["temp_total"] || 0 %>")
    <% end %>

    <% end %>
</script>