<h5>Bước 1: Đăng ký phòng</h5>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Loại phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.label @room_type_name, class:"form-control", readonly:true, id:"room_type" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row">
      <p class="col-lg-3">Phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.collection_select :room_id, Room.all.order(:id), :id, :name,{include_blank: false, selected: params[:room_id]}, {class: 'form-select'}%>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row row end-row-md">
      <p class="col-lg-3">Ngày đến</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field :arrival_date,
                            data: {
                              controller: "flatpickr",
                              flatpickr_date_format: "d-m-Y",
                              flatpickr_min_date: Time.zone.now
                            },
                            class: "form-select read-only-white",
                            placeholder: "Chọn ngày đến"%>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row row">
      <p class="col-lg-3">Giá phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.label @room_price, class:"form-control", readonly:true, id:"room_price" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Ngày đi</p>
      <div class="col-lg-7 form-group">
        <%= form.text_field :leave_date,
                            data: {
                              controller: "flatpickr",
                              flatpickr_date_format: "d-m-Y",
                              flatpickr_min_date: Time.zone.now
                            },
                            class: "form-select read-only-white",
                            placeholder: "Chọn ngày đi"%>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row">
      <p class="col-lg-3">Người lớn</p>
      <div class="col-lg-7 row" style="padding-right: 0; margin-right: 0">
        <div class="col-lg-4  form-group"  style="padding-right: 0; margin-right: 0">
          <%= form.number_field :adults, in: 0 .. 20, class:"form-control" %>
        </div>
        <p class="col-lg-4 padding-left">Trẻ em</p>
        <div class="col-lg-4 form-group"  style="padding-right: 0; margin-right: 0">
          <%= form.number_field :children, in: 0 .. 20 ,class:"form-control " %>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Loại đặt phòng</p>
      <div class="col-lg-7 form-group">
        <%= form.select @reservation_type_chosen, options_for_select(@reservation_type_view), {}, class: "form-select read-only-white" %>
      </div>
    </div>
  </div>
</div>
<%= form.hidden_field(:employee_id, :value => current_user.employee_id) %>
<%#= form.hidden_field(:room_id, :value => @room_id) %>
<script>
    <% if session[:reservation_params] %>
      <% params = session[:reservation_params] %>
        $('#arrival_date').val("<%= params["arrival_date"] || (DateTime.now).strftime("%d/%m/%Y") %>")
        $('#leave_date').val("<%= params["leave_date"] || (DateTime.now).strftime("%d/%m/%Y") %>")
        $('#adults').val("<%= params["adults"] || 0 %>")
        $('#children').val("<%= params["children"] || 0 %>")
     <% end %>

    $("#room_id").change(function (){
        var theVal = $('#room_id').val();
        var theURL = '/reservations/new/' + theVal;
        window.location.href = theURL
    });
</script>