<h5>Bước 3: Thanh toán</h5>
<%= form.fields_for :payment_attributes, Payment.new do |p| %>
  <div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Đặt cọc</p>
      <div class="col-lg-7 form-group">
          <%= p.hidden_field(:reservation_date, :value => Date.today)  %>
          <%= p.hidden_field(:is_paid, :value => false)  %>
          <%= p.number_field :deposit, min: 0, class:"form-control"%>
      </div>
    </div>
  </div>
  <div class="col-lg-6 row">
    <div class="row">
      <p class="col-lg-3">Hình thức TT</p>
      <div class="col-lg-7 form-group">
        <%= p.select :payment_type, options_for_select(@payment_type_view), {}, class: "form-select read-only-white" %>
        <!--            <small id="emailHelp" class="form-text text-muted">Email helpers</small>-->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 row">
    <div class="row end-row-md">
      <p class="col-lg-3">Tổng tiền</p>
      <div class="col-lg-7 form-group">
        <%= p.number_field :temp_total, min: 0, class:"form-control"%>
      </div>
    </div>
  </div>
</div>

<% end %>
<script>
    <% if session[:reservation_params] %>
      <% params = session[:reservation_params] %>
      <% if params["payment_attributes"] %>
      <% payment = params["payment_attributes"] %>
      $('#_payment_attributes_deposit').val("<%= payment["deposit"] || 0 %>")
      $('#_payment_attributes_payment_type').val("<%= payment["payment_type"] || 1 %>")
      $('#_payment_attributes_temp_total').val("<%=payment["temp_total"] || 0 %>")
      <% end %>

    <% end %>
</script>