<p>
  <strong>Status:</strong>
  <%= @reservation.status %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @reservation.arrival_date %>
</p>

<p>
  <strong>Leave date:</strong>
  <%= @reservation.leave_date %>
</p>

<p>
  <strong>Check in date:</strong>
  <%= @reservation.check_in_date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @reservation.total %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
