<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<center>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Phòng</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.text_field :name, class:"form-control" %>
        </div>
    </div>
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Loại phòng</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.number_field :room_type_id, class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Tầng</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.number_field :floor, class:"form-control" %>
        </div>
    </div>
    <div class="col-xl-5 row">
      <p class="col-xl-5 col-sm-4 row">Mô tả</p>
      <div class="col-xl-7 col-sm-7 row form-group">
        <%= form.text_field :description, class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-5 row">
        <p class="col-xl-5 col-sm-4 row">Trạng thái</p>
        <div class="col-xl-7 col-sm-7 row form-group">
          <%= form.number_field :status, class:"form-control" %>
        </div>
    </div>
    <div class="col-xl-5 row">
      
    </div>
  </div>

  <div class="tBotton">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
</center>
<% end %>