

<div class="room_main_view">

  <div class="left_container">
      <div class="section_name" >
          Danh sách: <%= @rooms.ids.count %> phòng
      </div>
      <table>
          <tr>
              <th class="room_row_title_infoBasic">TÊN PHÒNG</th>
              <th class="room_row_title_type">LOẠI PHÒNG</th>
              <th class="room_row_title_price">GIÁ</th>
              <th class="room_row_title_floor">TẦNG</th>
              <th class="room_row_title_description">MÔ TẢ</th>
              <th class="room_row_title_status">TRẠNG THÁI</th>
          </tr>


          <% @rooms.each do |room| %>
              <tr class="room_row">
                  <td class="room_row_infoBasic">
                      <div class="info_basic_container">
                          <span class="room_row_name"><%= room.name %></span>
                          <span class="room_row_id hide"><%= room.id %></span>
                      </div> 
                  </td>
                  <td class="room_row_type">
                    <% if RoomType.exists?(id: room.room_type_id) %>
                    <span id="room_typeId" class="hide" ><%= room.room_type_id %></span>
                    <% index =  room.room_type_id - 1 %>
					    <span><%= @room_type[index][:text] %></span>
                    <% else %>
                    <% end %>
                  </td>
                  <td class="room_row_sprice">
                    <%  if RoomType.exists?(id: room.room_type_id) %>
                    <span id="room_priceId"><%= RoomPrice.find(RoomType.find(room.room_type_id).id).price %></span>
                    <% else %>
                    <% end %>
                  </td>

                    <td class="room_row_floor" id="room_floorId">
                        <%= room.floor %>
                    </td>
                  <td class="room_row_description" id="room_descriptionId">
                       <%  if RoomType.exists?(id: room.room_type_id) %>
                       <%= room.description %> 
                        <% else %>
                    <% end %>
                    </td>
                  <td class="room_row_status">
                    <span id="room_statusId" class="hide"><%= room.status %></span>
                      <% if room.status == 1 %>
                            <span class="badge rounded-pill bg-primary room_status_empty">Trống</span>
                        <% elsif room.status == 2 %>
                            <span class="badge rounded-pill bg-danger room_status_reserved">Đã đặt</span>
                        <% elsif room.status == 3 %>
                            <span class="badge rounded-pill bg-danger room_status_late_arrival">Quá hạn </span>
                        <% elsif room.status == 4 %>
                            <span class="badge rounded-pill bg-danger room_status_nonempty">Đang ở</span>
                        <% elsif room.status == 5 %>
                            <span class="badge rounded-pill bg-danger room_status_dirty">Bẩn</span>
                        <% end %>
                  </td>
                  <td class=" hide">
                    <%= link_to room, method: :delete, data: { confirm: 'Bạn thật sự muốn xóa?' }, class: 'btn_delete' do %>
                      <span class="fa fa-trash"></span>
                    <% end %>
                  </td>
              </tr>
          <% end %>
      </table>
      <div id="room_row_empty" class="hide_empty">
          <i class="fas fa-exclamation-triangle"></i>
          <span>Không có dữ liệu phù hợp</span>
      </div>
  </div>

  <div class="right_container">
  <% employee = Employee.find(current_user.employee_id) %>
    <div class="section_name">Hành động</div>
    <div class="functionalities ">
    <% if employee.employee_type == 1 %>
        <%= link_to new_room_path do%><div class="functionality_add btn btn-primary">Thêm</div><% end %>
    <% end %>
    
    </div>
    <div class="functionalities">
        <div id="room_btn_show" class="functionality_item">Xem</div>
        <% if employee.employee_type == 1 %>
            <div id="room_btn_delete" class="functionality_item ">Xóa</div>
            <div id="room_btn_edit" class="functionality_item ">Sửa</div>
        <% end %>
        
    </div>

    <div class="section_name">Tìm kiếm</div>
    <div class="timkiem_container">
        <input id="room_input_filter"/>
    </div>

    <div class="section_name">Bộ lọc tìm kiếm</div>

    <div class="boloc_container">
        <div id="boloc_room_status"><strong> > Trạng thái</strong>
        </div>
        <div id="boloc_room_type"><strong> > Loại phòng</strong>
        </div>
        <div id="boloc_room_floor"><strong> > Tầng</strong>
        </div>
        <div id="boloc_room_price"><strong> > Giá</strong>
          <div class="timkiem_price">
            <input id="room_input_filter_priceFroom" placeholder="Tối thiểu"/>
            _
            <input id="room_input_filter_priceTo" placeholder="Tối đa"/>
            <div id="btn_ApDungChoised" class="btn_ApDung">Áp dụng</div>
          </div>
        </div>
    </div>

</div>



<% if employee.employee_type == 1 %>
	<%= javascript_pack_tag 'room_manager_actions' %>
	<% end %>

	<% if employee.employee_type == 2 %>
		<%= javascript_pack_tag 'room' %>
	<% end %>