<%= stylesheet_link_tag "room_diagram" %>
<!--Màn hình phụ thao tác với phòng-->
<div class="modal fade" id="roomModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display:none">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-bottom" role="document">

   <h3>Phòng A102</h3>
    <p>Trạng thái: đã nhận</p>
    <table class="table">
      <tbody>
      <tr>
        <th>
          <span>
            <i class="fa fa-info-circle fa-4x"></i>
          </span>
        </th>
        <td>
          Ngày đến: 1/1/2021 <br>
          Ngày đi: 1/1/2021 <br>
          Tên khách: Nguyễn Văn A <br>
          Ngày check-in: 1/1/2021 <br>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="rooms-btn">
      <div class="room-btn">
        <span><i class="fa fa-bars fa-3x"></i></span>
        <p>Danh sách phòng</p>
      </div>
      <div class="room-btn">
        <span><i class="fa fa-edit fa-3x"></i></span>
        <p>Chỉnh sửa</p>
      </div>
      <div class="room-btn">
        <span><i class="fa fa-expand-arrows-alt fa-3x"></i></span>
        <p>Chuyển phòng</p>
      </div>
      <div class="room-btn">
        <span><i class="fa fa-broom fa-3x"></i></span>
        <p>Phòng bẩn</p>
      </div>
    </div>
  </div>
</div>

<!-- Màn hình modal đặt hàng nhanh -->
<!--<div class="modal fade" id="quickResModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Nhận phòng nhanh</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
        <%#= render 'quick_reserve_room' %>
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div>
  <nav class="page-section" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex justify-content-start">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Lễ tân</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sơ đồ phòng</li>
          </ol>
        </div>
      </div>
      <div class="col-sm-6 searchbar">
        <%= render 'search' %>
      </div>
    </div>
  </nav>
  <div class="page-section d-flex justify-content-center">
    <%= render 'filter' %>
  </div>
  <div class="page-section">
    <div class="filter-wrapper">
    <span class="filter-item">
      Tất cả (6)
    </span>
      <span class="filter-item">
      Tất cả (6)
    </span>
      <span class="filter-item">
      Tất cả (6)
    </span>
      <span class="filter-item">
      Tất cả (6)
    </span>
    </div>
  </div>
    <% @filters.each do |f| %>
      <h3 class="row-title">
        <% if @filter == "1" %>
          Tầng <%= f %>
        <% else %>
          <% if @filter == "2"  %>
            <%= f[:text] %>
            <% else %>
            Tầng <%= f %>
          <% end %>
        <% end %>
      </h3>
      <div class="page-section row rooms" >
        <% @rooms.each do |room| %>
          <%# if (room.floor == f && @filter == "1")  %>
            <% if ((room.floor == f && @filter == "1") || (@filter == "2" && room.room_type_id ==  f[:code] ) || (@flilter != "1" && @filter!="2"  && room.floor == f )) %>
            <div class="room-wrapper col-3">
              <div class="card" style="" data-toggle="modal" data-target="#roomModal">

                <div class="card-body" style="padding-bottom: 0;">
                  <div class="card-text row">
                    <p class="col-md-6">
                      <%= room.name %>
                    </p>
                    <div class="dropdown col-md-6 d-flex justify-content-end">
                      <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                          <span><i class="fa fa-bars"></i></span>
                          Danh sách đặt phòng
                        </a>
                        <a class="dropdown-item" href="#">
                          <span><i class="fa fa-calendar-alt"></i></span>
                          Đặt phòng nhanh
                        </a>
                        <a class="dropdown-item" href="#">
                          <span><i class="fa fa-user-plus"></i></span>
                          Khách lẻ
                        </a>
                        <a class="dropdown-item" href="#">
                          <span><i class="fa fa-broom"></i></span>
                          Phòng bẩn
                        </a>
                      </div>
                    </div>

                  </div>
                  <div class="card-text d-flex justify-content-center">
                    <span><i class="fa fa-user"></i></span>
                    <h5 class="child">
                      <%= room.status %>
                    </h5>
                  </div>
                </div>
                <hr>
                <div class="card-body" style="padding-top: 0;">
                  <div class="d-flex order-btn">
                    <div class="btn btn-primary">
                      <%= link_to room_diagram_quick_reserve_room_path(:room_id => room.id), remote: true do %>
                        Đặt nhanh
                      <% end %>
                    </div>
                    <div class="btn btn-primary">
                      <%= link_to room_diagram_quick_reserve_room_path(:room_id => room.id), remote: true do %>
                        Khách lẻ
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="reservation-list">
                <div class="d-flex justify-content-center">Danh sách đặt phòng gần đây</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        cardHover();
        cardClick();
        endModal();
    })
    function cardHover() {
        // $('.active-reservation .fa  ').click(function () {
        //     if (!$('body').hasClass('modal-open')) // Khi modal mở, đang removeClass pushobject, thì chuột hover => lên lại => xóa
        //       $(this).closest('.card').toggleClass('pushObject');
        //
        // });
        // $('.card').hover(function () {
        //     if (!$('body').hasClass('modal-open')) // Khi modal mở, đang removeClass pushobject, thì chuột hover => lên lại => xóa
        //         $(this).toggleClass('pushObject');
        //
        // });
    }
    function cardClick(){
        $('*[data-target="#roomModal"]').click(function(event) {
            if ($(event.target).hasClass('btn') || $(event.target).hasClass('fa'))
            {
                event.stopPropagation(); // Nếu click vào card nhưng trúng các icon hay button thì không hiển thị roomModal
                if ($(event.target).hasClass('btn')) // Nhưng nếu click button thì hiển thị quickResModal
                {
                    var cardTarget = event.target.closest('.card');
                    if ($(cardTarget).hasClass('pushObject'))
                    {
                        $(cardTarget).removeClass('pushObject');
                    }
                    $(("#quickResModal")).modal('toggle');
                }

            }
        });
        $('#roomModal').on('show.bs.modal', function (e) {
            var cardTarget = e.relatedTarget;
            if ($(cardTarget).hasClass('pushObject'))
            {
                $(cardTarget).removeClass('pushObject');
            }

        });
        $('#quickResModal').on('show.bs.modal', function (e) {
            var cardTarget = e.relatedTarget;
            if ($(cardTarget).hasClass('pushObject'))
            {
                $(cardTarget).removeClass('pushObject');
            }

        });
    }
    function endModal(){
        $('.modal').click(function(event){

            if (!$(event.target).closest('.modal-bottom').hasClass('modal-bottom') &&
                !$(event.target).hasClass('modal-bottom'))
            {
                $('.modal close').click();
            }
        })

    }
</script>
