<%= stylesheet_link_tag "room_diagram" %>

<div>
  <nav class="page-section" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex justify-content-start">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Trang chủ", root_path %></li>
            <li class="breadcrumb-item" aria-current="page"><a>Sơ đồ phòng</a></li>
          </ol>
        </div>
      </div>
      <div class="col-sm-6 searchbar">
        <%= render 'search' %>
      </div>
    </div>
  </nav>
  <div class="page-section d-flex justify-content-center">
    <%= render 'filter' %>
  </div>
  <div class="page-section">
    <%= render 'room_status' %>
  </div>
  <%= render 'rooms' %>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        cardHover();
        cardClick();
        endModal();

    })
    function cardHover() {
        // $('.active-reservation .fa  ').click(function () {
        //     if (!$('body').hasClass('modal-open')) // Khi modal mở, đang removeClass pushobject, thì chuột hover => lên lại => xóa
        //       $(this).closest('.card').toggleClass('pushObject');
        //
        // });
        // $('.card').hover(function () {
        //     if (!$('body').hasClass('modal-open')) // Khi modal mở, đang removeClass pushobject, thì chuột hover => lên lại => xóa
        //         $(this).toggleClass('pushObject');
        //
        // });
    }
    function cardClick(){
        $('*[data-target="#roomModal"]').click(function(event) {
            if ($(event.target).hasClass('btn') || $(event.target).hasClass('fa'))
            {
                event.stopPropagation(); // Nếu click vào card nhưng trúng các icon hay button thì không hiển thị roomModal
                if ($(event.target).hasClass('btn')) // Nhưng nếu click button thì hiển thị quickResModal
                {
                    var cardTarget = event.target.closest('.card');
                    if ($(cardTarget).hasClass('pushObject'))
                    {
                        $(cardTarget).removeClass('pushObject');
                    }
                    $(("#quickResModal")).modal('toggle');
                }

            }
        });
        $('#roomModal').on('show.bs.modal', function (e) {
            var cardTarget = e.relatedTarget;
            if ($(cardTarget).hasClass('pushObject'))
            {
                $(cardTarget).removeClass('pushObject');
            }

        });
        $('#quickResModal').on('show.bs.modal', function (e) {
            var cardTarget = e.relatedTarget;
            if ($(cardTarget).hasClass('pushObject'))
            {
                $(cardTarget).removeClass('pushObject');
            }

        });
    }
    function endModal(){
        $('.modal').click(function(event){

            if (!$(event.target).closest('.modal-bottom').hasClass('modal-bottom') &&
                !$(event.target).hasClass('modal-bottom'))
            {
                $('.modal close').click();
            }
        })

    }
</script>
