
<% if notice %>
  <div class="notification notice_success">
    <%= notice %>
  </div>
<% end %>

<center><h1 class="title">DỊCH VỤ</h1></center>

<div class="sv-container tRow">
  <div class="sv-box sv-list tColumn">
    <div class="sv-navbar tRow">
      <div class="sv-navbar-item sv-navbar-food tColumn">
        <div class="sv-navbar-name">Đồ ăn</div>
        <div class="sv-navbar-image">
          <i class="fas fa-concierge-bell"></i>
        </div>
      </div>
      <div class="sv-navbar-drink">
        <div class="sv-navbar-name">Thức uống</div>
        <div class="sv-navbar-image">
          <i class="fas fa-glass-cheers"></i>
        </div>
      </div>
      <div class="sv-navbar-laundry">
        <div class="sv-navbar-name">Giặt là</div>
        <div class="sv-navbar-image">
          <i class="fas fa-tshirt"></i>
        </div>
      </div>
      <div class="sv-navbar-compensation">
        <div class="sv-navbar-name">Bồi thường</div>
        <div class="sv-navbar-image">
          <i class="fas fa-file-invoice-dollar"></i>
        </div>
      </div>
    </div>
    <div class="sv-food tColumn">
      <div class="tLine tRow"></div>
      <div class="sv-food-item">
        <div class="row cart-row">
          <div class="tCenterHieght col-xs-12 col-md-2">
          <%= image_tag("mySpaghetti.jpg", :alt => "mỳ spaghetti", size: "100x100") %>
          </div>
          <div class="col-md-6 food-detail">
            <div class="product-articlenr">#643489</div>
            <div class="product-name">Mỳ Spaghetti</div>
            <div class="product-options">
              <span>Đơn vị:</span> Dĩa<br>
              <span class="tRow tCenterHieght">Số lượng: <input type="text" name="quantity[4]" value="1" size="3" class="form-control"></span>
            </div>
          </div>
          <div class="col-md-3 cart-actions">
            <div class="product-price-total">60000 VNĐ</div>
            <div class="product-delete">
              <button type="button" data-toggle="tooltip" title="Ta bort" class="delete" onclick="cart.remove('5');"><i class="fas fa-times-circle"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- end food-item -->
      <div class="sv-food-item">
        <div class="row cart-row">
          <div class="tCenterHieght col-xs-12 col-md-2">
          <%= image_tag("comTron.jpg", :alt => "cơm trộn", size: "100x100") %>
          </div>
          <div class="col-md-6 food-detail">
            <div class="product-articlenr">#643489</div>
            <div class="product-name">Cơm trộn Hàn Quốc</div>
            <div class="product-options">
              <span>Đơn vị:</span> Tô<br>
              <span class="tRow tCenterHieght">Số lượng: <input type="text" name="quantity[4]" value="1" size="1" class="form-control"></span>
            </div>
          </div>
          <div class="col-md-3 cart-actions">
            <div class="product-price-total">85000 VNĐ</div>
            <div class="product-delete">
              <button type="button" data-toggle="tooltip" title="Ta bort" class="delete" onclick="cart.remove('5');"><i class="fas fa-times-circle"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- end food-item -->
      <div class="sv-food-item">
        <div class="row cart-row">
          <div class="tCenterHieght col-xs-12 col-md-2">
          <%= image_tag("pho.png", :alt => "phở", size: "100x100") %>
          </div>
          <div class="col-md-6 food-detail">
            <div class="product-articlenr">#643489</div>
            <div class="product-name">Phở</div>
            <div class="product-options">
              <span>Đơn vị:</span> Tô<br>
              <span class="tRow tCenterHieght">Số lượng: <input type="text" name="quantity[4]" value="1" size="1" class="form-control"></span>
            </div>
          </div>
          <div class="col-md-3 cart-actions">
            <div class="product-price-total">70000 VNĐ</div>
            <div class="product-delete">
              <button type="button" data-toggle="tooltip" title="Ta bort" class="delete" onclick="cart.remove('5');"><i class="fas fa-times-circle"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- end food-item -->
      <div class="sv-food-item">
        <div class="row cart-row">
          <div class="tCenterHieght col-xs-12 col-md-2">
          <%= image_tag("caHop.jpg", :alt => "cá hộp", size: "100x100") %>
          </div>
          <div class="col-md-6 food-detail">
            <div class="product-articlenr">#643489</div>
            <div class="product-name">Cá hộp 3 cô gái</div>
            <div class="product-options">
              <span>Đơn vị:</span> Lon<br>
              <span class="tRow tCenterHieght">Số lượng: <input type="text" name="quantity[4]" value="1" size="1" class="form-control"></span>
            </div>
          </div>
          <div class="col-md-3 cart-actions">
            <div class="product-price-total">25000 VNĐ</div>
            <div class="product-delete">
              <button type="button" data-toggle="tooltip" title="Ta bort" class="delete" onclick="cart.remove('5');"><i class="fas fa-times-circle"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- end food-item -->
    </div>
  </div>

  <div class="sv-box sv-bill tColumn"></div>
</div>