<div class="custom-menu">
  <button type="button" id="sidebarCollapse" class="btn btn-primary">
    <i class="fa fa-bars"></i>
    <span class="sr-only">Toggle Menu</span>
  </button>
</div>
<div class="p-4">
  <ul class="list-unstyled components mb-5">
    <li class="active">
      <%= link_to 'Trang Chủ', root_path, data: { toggle: 'tooltip' } %>
    </li>
    <li>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Lễ Tân</a>
      <ul class="list-unstyled" id="homeSubmenu">
        <li>
          <%= link_to 'Sơ đồ phòng', room_diagram_path %>
        </li>
        <li>
          <%= link_to 'Khách lẻ', root_path %>
        </li>
        <li>
          <%= link_to 'Khách đoàn', root_path %>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to 'Dịch Vụ', services_path, data: { toggle: 'tooltip' }, aria: { expanded: false} %>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Cấu hình</a>
      <ul class="list-unstyled" id="pageSubmenu">
        <li>
          <%= link_to 'Phòng', rooms_path %>
        </li>
        <li>
          <%= link_to 'Loại phòng', room_types_path %>
        </li>
        <li>
          <%= link_to 'Giá phòng', room_prices_path %>
        </li>
        <li>
          <%= link_to 'Dịch vụ', services_path %>
        </li>
        <li>
          <%= link_to 'Nhân viên', employees_path %>
        </li>
        <li>
          <%= link_to 'Khách hàng', clients_path %>
        </li>
      </ul>
    </li>

  </ul>

</div>