<!DOCTYPE html>
<html>
  <head>
    <title>HotelManagementWebRubyonrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <%= render 'layouts/header' %>
    <section class="main-content columns is-fullheight">

      <aside class="column is-3 is-narrow-mobile is-fullheight section is-hidden-mobile">
        <p class="menu-label is-hidden-touch">Menu</p>
        <ul class="menu-list">
          <li>
            <%= link_to root_path do %>
              <span class="icon"><i class="fa fa-home"></i></span>
              Trang chủ
            <% end %>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa fa-table"></i></span> Lễ Tân
            </a>

            <ul>
              <li>
                <a href="#">
                  <span class="icon is-small"><i class="fa fa-link"></i></span> Sơ đồ phòng
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon is-small"><i class="fa fa-link"></i></span> Danh sách đặt phòng
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon is-small"><i class="fa fa-link"></i></span> Khách lẻ
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon is-small"><i class="fa fa-link"></i></span> Khách đoàn
                </a>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to services_path do %>
              <span class="icon"><i class="fa fa-home"></i></span>
              Dịch vụ
            <% end %>
          </li>
          <li>
            <a href="#" class="">
              <span class="icon"><i class="fa fa-info"></i></span> Cấu hình
            </a>
            <ul>
              <li>
                <%= link_to rooms_path do %>
                  <span class="icon is-small"><i class="fa fa-link"></i></span>
                  Phòng
                <% end %>
              </li>
              <li>
                <%= link_to room_types_path do %>
                  <span class="icon is-small"><i class="fa fa-link"></i></span>
                  Loại phòng
                <% end %>
              </li>
              <li>
                <%= link_to root_path do %>
                  <span class="icon is-small"><i class="fa fa-link"></i></span>
                  Giá phòng
                <% end %>
              </li>
              <li>
                <%= link_to services_path do %>
                  <span class="icon is-small"><i class="fa fa-link"></i></span>
                  Dịch vụ
                <% end %>
              </li>
              <li>
                <%= link_to employees_path do %>
                  <span class="icon is-small"><i class="fa fa-link"></i></span>
                  Nhân viên
                <% end %>
              </li>
              <li>
                <%= link_to clients_path do %>
                  <span class="icon is-small"><i class="fa fa-link"></i></span>
                  Khách hàng
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </aside>

      <div class="container column is-9">
        <div class="section">
          <%= yield %>
        </div>
      </div>

    </section>
    <%= render 'layouts/footer' %>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
